<div class="row">
  <div class="col-xs-12 col-md-7">
    <div class="logo">
      <a routerLink="/">
        <img src="#" srcset="assets/style/images/logo.png 1x, assets/style/images/logo@2x.png 2x" alt="" />
      </a>
    </div>
  </div>
</div>

<!-- <div class="col-xs-6 col-md-3 usuarios">

  <div class="col-xs-6 col-sm-6 col-md-4 right">
    <img src="http://via.placeholder.com/100x100" class="img-circle" />
  </div>
  <div class="col-xs-6 col-sm-6 col-md-8 left">
    <span class="user"> Ren </span><br>
    <span class="cargo"> Redactora jefe <br> </span>
    <span class="iniciarsesion"> <a href="#">Panel de gestión</a>  /<a href="#"> Cerrar sesión</a> </span>

  </div>
</div> -->
