<p-growl [(value)]="msgs"></p-growl>
<div *ngIf="editorial" class="form-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="vanilla vanilla-form" novalidate="novalidate">
        <div class="row">
          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Nombre de la editorial: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="editorial.nombreEditorial" (ngModelChange)="cambioNombre($event)" placeholder="Escribe aquí el nombre del editorial"
                />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Url de la editorial:</h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="editorial.urlEditorial" placeholder="Escribe aquí la URL del editorial" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="divide10"></div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Descripción: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <textarea [(ngModel)]="editorial.descripcionEditorial" [style]="{'height':'300px'}" placeholder="Escribe aquí una descripción de la editorial"></textarea>

              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Web de la editorial:</h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="editorial.webEditorial" placeholder="Escribe aquí la URL de la web de la editorial" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Información de contacto: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <textarea [(ngModel)]="editorial.informacionDeContacto" [style]="{'height':'300px'}" placeholder="Escribe aquí una información de contacto de la editorial"></textarea>

              </label>
            </div>
            <!--/.form-field -->
          </div>


          <div class="col-sm-12 rp10 botonInferior">
            <div [hidden]="!esEditorialNuevo">
              <input type="submit" class="btn btn-forest" value="Crear editorial" (click)="guardarEditorial()" data-error="Fix errors"
                data-processing="Sending..." data-success="Thank you!">
            </div>
            <div [hidden]="esEditorialNuevo">
              <input type="submit" class="btn btn-forest" value="Actualizar editorial" (click)="guardarEditorial()" data-error="Fix errors"
                data-processing="Sending..." data-success="Thank you!">
            </div>
          </div>
          <footer class="notification-box"></footer>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 lp10">
        <div class="form-field">
          <h2 class="section-title widget-title  margen_superior">Imagen de cabecera de la editorial</h2>
          <img *ngIf="editorial.imagenCabeceraEditorial" src="{{editorial.imagenCabeceraEditorial}}" alt="Cabecera editorial - {{editorial.nombreEditorial}}"
          />
          <p-fileUpload name="cabeceraFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeCabecera($event)" chooseLabel="Subir imagen"
            auto="auto" maxFileSize="1000000">

            <ng-template pTemplate="content">
              <div>Arrastra aquí la imagen que quieras subir.</div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>

      <div class="divide10"></div>

      <div class="col-sm-12 lp10">
        <div class="form-field">
          <h2 class="section-title widget-title  margen_superior">Imagen editorial</h2>
          <img *ngIf="editorial.imagenEditorial" class="imagen-avatar" src="{{editorial.imagenEditorial}}" alt="Imagen editorial - {{editorial.nombreEditorial}}"
          />
          <p-fileUpload name="iconoFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeImagenEditorial($event)"
            chooseLabel="Subir imagen" auto="auto" maxFileSize="1000000">

            <ng-template pTemplate="content">
              <div>Arrastra aquí la imagen que quieras subir.</div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
      <app-info-adicional [infoAdicional]="editorial.infoAdicional"></app-info-adicional>
    </div>
  </div>



</div>
