<div class="light-wrapper">
    <div class="container align-center">
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let opinion of opinions; let i = index;">
                <div class="indexHeaderImageContainer">
                    <app-lazy-image-with-link link="/{{opinion.bloque}}/{{opinion.urlEntrada}}" name="Opinion - {{i}}" 
                    image="{{opinion.imagenEntrada}}" alt="Imagen Destacada - {{opinion.tituloEntrada}}" height="490">
                    </app-lazy-image-with-link>
                </div>
                <div class="indexHeaderDataBlock">
                    {{opinion.categoria}}
                </div>
                <div class="indexHeaderTitle">
                    <a routerLink="/{{opinion.bloque}}/{{opinion.urlEntrada}}">
                        <h3 class="entryTitle"> {{opinion.tituloEntrada}} </h3>
                    </a>
                </div>
            </div>
        </div>
        <hr class="fat hidden-xs" />
    </div>

    <div class="container marginBottom50 hidden-xs">
        <div class="row">
            <div class="col-xs-6 align-left">
                <h2>Últimas noticias de literatura. </h2>
            </div>
            <div class="col-xs-6 align-right">
                <span class="breadcrumbs"> <a routerLink="/categoria/noticias">Noticias </a></span><span class="breadcrumbs">/ </span> <span class="breadcrumbs">
                        <a routerLink="/categoria/miscelaneos">Misceláneos</a></span>
            </div>
        </div>
    </div>

    <div class="container hidden-sm hidden-md hidden-lg">
        <hr />
        <div class="row">
            <div class="col-xs-12 align-left">
                <h2>Últimas noticias de literatura.</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7" *ngFor="let miscellaneous of miscellaneous">
                <div class="indexHeaderImageContainer">
                    <app-lazy-image-with-link link="/{{miscellaneous.bloque}}/{{miscellaneous.urlEntrada}}" image="{{miscellaneous.imagenEntrada}}" 
                    alt="Imagen Destacada - {{miscellaneous.tituloEntrada}}" name="Miscelaneo">
                    </app-lazy-image-with-link>
                </div>
                <div class="indexHeaderDataBlock">
                    Misceláneo
                </div>
                <div class="indexHeaderTitle">
                    <a routerLink="/{{miscellaneous.bloque}}/{{miscellaneous.urlEntrada}}">
                        <h3 class="entryTitle"> {{miscellaneous.tituloEntrada}} </h3>
                    </a>
                </div>
                <div class="indexHeaderSummary">

                    <h5 class="summary"> {{miscellaneous.fraseDescriptiva}} </h5>

                </div>
                <hr />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <ng-container *ngFor="let news of news, let i = index; let first = first">
                        <div class="col-xs-6">
                            <div class="indexHeaderImageContainer">
                                <app-lazy-image-with-link link="/{{news.bloque}}/{{news.urlEntrada}}" 
                                image="{{news.imagenEntrada}}" alt="Imagen Destacada - {{news.tituloEntrada}}"
                                name="Noticia - {{i}}">
                                </app-lazy-image-with-link>
                            </div>
                            <div class="indexHeaderDataBlock">
                                Noticia
                            </div>
                            <div class="indexHeaderTitle">
                                <a routerLink="/{{news.bloque}}/{{news.urlEntrada}}">
                                    <h3 class="entryNewsTitle"> {{news.tituloEntrada}} </h3>
                                </a>
                            </div>
                        </div>

                        <div class="clearfix" *ngIf="(i+1) % 2 == 0 && !first"></div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dark-wrapper marginBottom50">
    <div class="container align-center marginTop40">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="aboutUs">Sobre nosotros</h4>
                <h1>Bienvenido a Momoko <br /> tu blog de referencia de libros</h1>
                <div class="companionText">Aunque sería más correcto que nos llamásemos revista literaria, pero no queríamos sonar pretenciosos.
                    Somos un espacio de enamorados de la literatura que recomiendan buena literatura. Así que pon una tetera al fuego y siéntate
                    con nosotros a descubrir esas curiosidades mágicas de ese libro que hizo que te palpitara el corazón.</div>
            </div>
        </div>

    </div>
</div>