.light-wrapper {

    @media(min-width: 1500px) {
        background-image: url(https://momoko.es/images/fijas/leave-left.jpg), url(https://momoko.es/images/fijas/leave-right.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right top;
    }

    .container.inner {
        padding: 0px;

        .indexHeaderImageContainer {
            text-align: center;
            margin-top: 5px;
            overflow: hidden;
            width: 100%;

            img {
                max-width: 100%;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            &:hover img {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

        }

        .indexHeaderDataBlock {
            font-size: 14px;
            margin-top: 25px;
            font-weight: 600;
        }

        h3.entryTitle {
            font-size: 20px;
            line-height: 28px;
        }

        h3.entryNewsTitle{
            font-size: 16px;
            line-height: 22.4px;
        }

        h5.summary {
            font-weight: 400;
        }
    }
}