<div class="parallax page-title inverse-wrapper parallax2">
  <div class="container inner">
    <h1 class="text-center">Terror</h1>
  </div>
</div>
<div class="dark-wrapper">
  <div class="container  lineafina">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link menu_activo" href="#">Ficha del libro </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Análisis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Críticas de los usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Noticias </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Guía de personajes </a>
        </li>
      </ul>
    </div>
  </div>
</div>
