<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div [hidden]="selectedLibro">
        <button type="button" (click)="nuevoLibro()" class="btn btn-outline-primary">Nuevo Libro</button>
      </div>
      <div [hidden]="!selectedLibro">
        <button  type="button" (click)="volver()" class="btn btn-outline-primary">Volver</button>
      </div>
    </div>
  </div>
  <table class="table" [hidden]="selectedLibro">
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Año edición</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros" [class.selected]="libro === selectedLibro" (click)="onSelect(libro)">
          <th scope="row">{{libro.libroId}}</th>
          <td>{{libro.titulo}}</td>
          <td>{{libro.anoEdicion}}</td>
          <td><button type="button" class="btn btn-outline-primary">Editar Libro</button></td>
        <span class="badge"></span>
      </tr>
    </tbody>
  </table>
  <libro-detail [libro]="selectedLibro"></libro-detail>
  <div [hidden]="!selectedLibro">
    <button  type="button" (click)="volver()" class="btn btn-outline-primary">Volver</button>
  </div>
</div>
