<div class="returnArrowLeft"><a (click)="volver()"><i class="fa fa-arrow-left"></i></a></div>
<div class="imageHeaderContainer">
    <img src="https://momoko.es/images/fijas/colabora-05.png">
  </div>
  <h3><b>Eres un autor genial</b></h3>
  <div class="categoryDescription">
    ¡Gracias por tener en cuenta a momoko a la hora<br />
    de leer tu obra! Ten en cuenta que recibimos<br />
    muchas solicitudes de reseña, pero tratamos todas<br />
    las obras con el respeto que se merecen: sean<br />
    autoedición o vayan bajo un sello editorial. Te<br />
    recomendamos que le eches un ojo también a <br/>
    nuestra <a target="_blank" href="/solicitud">guía de solicitud de reseñas</a>
  </div>