h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.imageHeaderContainer {
    margin-top: 48px;
    margin-bottom: 20px;
}

.categoryDescription {
    line-height: 18px;
    font-size: 14px;
    color: #292929;
    min-height: 130px;
    a{
        color: #f4b100;
    }
}

.returnArrowLeft {
    display: flex;
    position: absolute;
    top: 10px;
    a{
        color: #2b2b2b;
        font-size: 17px;
        padding-left: 20px;
    }
}