/.project
/.settings/
.idea/
*.iml
momoko-checker/.settings/org.eclipse.wst.common.project.facet.core.xml
momoko-checker/.settings/org.springframework.ide.eclipse.prefs
momoko-backend-commons/target/
momoko-backend-exceptions/target/
momoko-backend-jpa/target/
momoko-backend-rest/target/
*.classpath
*.project
momoko-backend-jpa/.settings/
momoko-backend-exceptions/.settings/
momoko-backend-rest/.settings/
momoko-backend-commons/.settings/
*.factorypath
devops/example/
