<div class="col-sm-2 contenedorAvatar">
  <a routerLink="/redactor/{{redactor.urlRedactor}}">
    <img alt="Avatar del redactor {{redactor.nombre}}" src="{{redactor.avatarRedactor}}" class="avatar" />
  </a>
</div>
<div class="col-sm-10">
  <div class="row">
    <div class="col-md-12">
        <a routerLink="/redactor/{{redactor.urlRedactor}}"> <h2>{{redactor.nombre}}</h2> </a>
      <h3>{{redactor.cargo}}</h3>
      <p class="descripcionAutor">{{redactor.descripcion}}</p>
    </div>
    <app-social-data-icons [socialData]="redactor"></app-social-data-icons>
  </div>
</div>