<div class="light-wrapper">
  <div class="container marginBottom50">

    <app-entry-header [entry]="entrada" [book]="entrada.librosEntrada[0]" [type]="'Vídeo'" [subheaderAuthorIntro]="'Vídeo de '">
    </app-entry-header>
    <div class="row">
      <div class="contenidoEntrada">
        <div class="col-md-8">
          <figure>
            <iframe width="770" height="432" [src]="safeURL" frameborder="0" gesture="media" allow="encrypted-media"
              allowfullscreen></iframe>
          </figure>
          <app-entry-content [entry]="entrada"> </app-entry-content>
        </div>

        <app-entry-sidebar [entry]="entrada" [books]="entrada.librosEntrada" [librosParecidos]="librosParecidos"  [datosEntrada]="entrada.datosEntrada"
        [parentType]="'Vídeo'">
        </app-entry-sidebar>
        <div class="col-sm-12">
          <app-entry-footer [entry]="entrada" [cuatroPostPequenosConImagen]="cuatroPostPequenosConImagen" [comentarios]="comentarios"
            [entradaAnteriorYSiguiente]="entradaAnteriorYSiguiente" >
          </app-entry-footer>

        </div>
      </div>

    </div>

  </div>
</div>