<div class="light-wrapper">

  <div class="parallax page-title inverse-wrapper parallax2" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="container inner">
      <h1 class="text-center">Vídeos</h1>
    </div>
    <!-- /.container -->

  </div>


  <div class="container inner tp0">

    <div class="divide60"></div>
    <div class="blog row">
      <div class="col-sm-8">
        <div class="blog-content classic-view">
          <div class="blog-posts">
            <div class="post">
              <div class="post-content">
                <figure>
                  <iframe width="770" height="432" [src]="safeURL" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </figure>
                <div class="text-center">
                  <span class="category">
                    <em class="rose">
                      <a href="#">Misceláneos </a>
                    </em>
                  </span>
                </div>
                <div class="tituloEntrada">
                  <h1>{{entrada.tituloEntrada}}</h1>
                </div>
                <div class="meta text-center">
                  <span class="date">{{entrada.fechaAlta | date:'dd MMM yyyy'}}</span>
                  <span class="author">By
                    <a routerLink="/redactor/{{entrada.redactor.urlRedactor}}">{{entrada.redactor.name}}</a>
                  </span>
                  <span class="comments">
                    <a href="#">{{entrada.numeroComentarios}} Comentarios</a>
                  </span>
                </div>

                <div class="cuerpo">
                  <div [innerHTML]="content | sanitizeHtml"></div>
                  <ng-container *ngFor="let bookTemp of bookTemplates; let i = index">
                    <app-book-template [bookTemp]="bookTemp"></app-book-template>
                  </ng-container>
      
      
                </div>

                <hr>

                <div class="post-nav-wrapper" *ngIf="entradaAnteriorYSiguiente">
                  <div class="post-nav prev" *ngIf="entradaAnteriorYSiguiente[0]">
                    <div class="meta">
                      <i class="ion-android-arrow-back"></i> Artículo anterior </div>
                    <h3 class="post-title">
                      <a routerLink="/{{entradaAnteriorYSiguiente[0].urlEntrada}}">{{entradaAnteriorYSiguiente[0].tituloEntrada}}</a>
                    </h3>
                  </div>
                  <div class="post-nav next" *ngIf="entradaAnteriorYSiguiente[1]">
                    <div class="meta">Artículo siguiente
                      <i class="ion-android-arrow-forward"></i>
                    </div>
                    <h3 class="post-title">
                      <a routerLink="/{{entradaAnteriorYSiguiente[1].urlEntrada}}">{{entradaAnteriorYSiguiente[1].tituloEntrada}}</a>
                    </h3>
                  </div>
                </div>
                <!-- /.post-nav -->
                <hr/>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="section-title"> Redactor de la noticia </h2>
                    <app-redactor-info [redactor]="entrada.redactor"></app-redactor-info>
                  </div>
                </div>
                <hr/>
                <h2 class="section-title">Otros posts que te gustarán :) </h2>
                <div class="blog list-view row">
                  <div *ngFor="let post of cuatroPostPequenosConImagen, let i = index, let first = first">
                    <div class="clearfix" *ngIf="i % 2 == 0 && !first"></div>
                    <div class="col-sm-6">
                      <div class="post row">
                        <div class="col-md-5">
                          <figure class="overlay small">
                            <a routerLink="/{{post.urlEntrada}}">
                              <span class="over">
                                <span></span>
                              </span>
                              <img src="{{post.imagenEntrada}}" alt="Imagen Destacada - {{post.tituloEntrada}} ">
                            </a>
                          </figure>
                        </div>
                        <!-- /column -->
                        <div class="col-md-7">
                          <div class="post-content">
                            <h4 class="post-title">
                              <a routerLink="/{{post.urlEntrada}}">{{post.tituloEntrada}}</a>
                            </h4>
                            <div class="meta">
                              <span class="date">{{post.fechaAlta | date:'dd MMM yyyy'}}</span>
                              <span class="comments">
                                <a routerLink="/{{post.urlEntrada}}">
                                  <i class="ion-chatbubbles"></i> {{post.numeroComentarios}}</a>
                              </span>
                            </div>
                          </div>
                          <!-- /.post-content -->
                        </div>
                        <!-- /column -->

                      </div>
                      <!-- /.post -->
                    </div>
                  </div>
                </div>

              </div>
              <!-- /.post-content -->

            </div>
            <!-- /.post -->

          </div>
          <!-- /.blog-posts -->

        </div>
        <!-- /.classic-view -->
        <app-zona-comentarios [comentarios]="comentarios" [entrada]="entrada"></app-zona-comentarios>
      </div>
      <!-- /.blog-content -->

      <app-sidebar [libros]="librosParecidos" [tituloSeccionLibros]="tituloSeccionLibros"></app-sidebar>

    </div>
    <!-- /.blog -->

  </div>
  <!-- /.container -->
</div>
<!-- /.light-wrapper -->