<div id="book" class="view-cover" [ngStyle]="{'width': anchurapx, 'height': alturapx}" [style.width]="anchura" [style.height]="altura">
    <div class="main" [ngStyle]="{'width': anchurapx, 'height': alturapx}" >
      <div class="book-font" [ngStyle]="{'width': anchurapx, 'height': alturapx}" >
        <div class="book-cover" [ngStyle]="{'width': anchurapx, 'height': alturapx}" >
          <img src="{{portada}}">
        </div>
        <div class="book-cover-back" [ngStyle]="{'width': anchurapx, 'height': alturapx}" ></div>
      </div>
      <div class="book-back" [ngStyle]="{'width': anchurapx, 'height': alturapx}" >
          <img src="{{portada}}" [ngStyle]="{'width': anchurapx, 'height': alturapx}" >
      </div>
      <div class="book-bone" [ngStyle]="{'height': alturapx}" >
      </div>
      <div class="book-top"></div>
      <div class="book-right" [ngStyle]="{'height': alturaderechapx}"></div>
      <div class="book-bottom"></div>
    </div>
  </div>
