<div class="light-wrapper">

  <div class="parallax page-title inverse-wrapper parallax2" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="container inner">
      <h1 class="text-center">Misceláneos</h1>
    </div>
    <!-- /.container -->

  </div>


  <div class="container inner tp0">

    <div class="divide60"></div>
    <div class="blog row">
      <div class="col-sm-8">
        <div class="blog-content classic-view">
          <div class="blog-posts">
            <div class="post">
              <div class="post-content">
                <figure>
                  <img src="{{entrada.imagenDestacada}}" alt="">
                </figure>
                <div class="text-center">
                  <span class="category">
                    <em class="rose">
                      <a href="#">Misceláneos </a>
                    </em>
                  </span>
                </div>
                <h1 class="post-title text-center">{{entrada.tituloEntrada}}</h1>
                <div class="meta text-center">
                  <span class="date">{{entrada.fechaAlta | date:'dd MMM yyyy'}}</span>
                  <span class="author">By
                    <a routerLink="/editor/{{entrada.autor.nombre}}">{{entrada.autor.nombre}}</a>
                  </span>
                  <span class="comments">
                    <a href="#">{{entrada.numeroComentarios}} Comentarios</a>
                  </span>
                </div>

                <div class="cuerpo" [innerHTML]="entrada.contenidoEntrada  | sanitizeHtml"></div>

                <hr>

                <div class="post-nav-wrapper">
                  <div class="post-nav prev" *ngIf="entradaAnteriorYSiguiente[0]">
                    <div class="meta">
                      <i class="ion-android-arrow-back"></i> Artículo anterior </div>
                    <h3 class="post-title">
                      <a routerLink="/{{entradaAnteriorYSiguiente[0].urlEntrada}}">{{entradaAnteriorYSiguiente[0].tituloEntrada}}</a>
                    </h3>
                  </div>
                  <div class="post-nav next" *ngIf="entradaAnteriorYSiguiente[1]">
                    <div class="meta">Artículo siguiente
                      <i class="ion-android-arrow-forward"></i>
                    </div>
                    <h3 class="post-title">
                      <a routerLink="/{{entradaAnteriorYSiguiente[1].urlEntrada}}">{{entradaAnteriorYSiguiente[1].tituloEntrada}}</a>
                    </h3>
                  </div>
                </div>
                <!-- /.post-nav -->
                <app-sobre-autor *ngIf="entrada.autor"  [autor]="entrada.autor"></app-sobre-autor>

                <h2 class="section-title">Otros posts que te gustarán :) </h2>
                <div class="blog list-view row">
                  <div *ngFor="let post of cuatroPostPequenosConImagen, let i = index, let first = first">
                    <div class="clearfix" *ngIf="i % 2 == 0 && !first"></div>
                    <div class="col-sm-6">
                      <div class="post row">
                        <div class="col-md-5">
                          <figure class="overlay small">
                            <a href="#">
                              <span class="over">
                                <span></span>
                              </span>
                              <img src="{{post.imagenEntrada}}" alt="">
                            </a>
                          </figure>
                        </div>
                        <!-- /column -->
                        <div class="col-md-7">
                          <div class="post-content">
                            <h4 class="post-title">
                              <a href="blog-post.html">{{post.tituloEntrada}}</a>
                            </h4>
                            <div class="meta">
                              <span class="date">{{post.fechaAlta | date:'dd MMM yyyy'}}</span>
                              <span class="comments">
                                <a href="#">
                                  <i class="ion-chatbubbles"></i> {{post.numeroComentarios}}</a>
                              </span>
                            </div>
                          </div>
                          <!-- /.post-content -->
                        </div>
                        <!-- /column -->

                      </div>
                      <!-- /.post -->
                    </div>
                  </div>
                </div>
                <!-- /.comment-form-wrapper -->

              </div>
              <!-- /.post-content -->

            </div>
            <!-- /.post -->

          </div>
          <!-- /.blog-posts -->

        </div>
        <!-- /.classic-view -->

      </div>
      <!-- /.blog-content -->

      <app-sidebar [libros]="librosParecidos" [tituloSeccionLibros]="tituloSeccionLibros"></app-sidebar>

    </div>
    <!-- /.blog -->

  </div>
  <!-- /.container -->
</div>
<!-- /.light-wrapper -->
