<ngx-json-ld [json]="schema"></ngx-json-ld>
<!-- <app-menu-interno-libro [libro]="entrada.librosEntrada[0]" [datosEntrada]="entrada.datosEntrada" [parentType]="'ANALISIS'"></app-menu-interno-libro>-->
<div class="light-wrapper">
  <div class="container marginBottom50">

    <app-entry-header [entry]="entrada" [book]="entrada.librosEntrada[0]" [type]="sectionTitle"
    [subheaderAuthorIntro]="'Análisis de '"> </app-entry-header>
    <div class="row">
      <div class="contenidoEntrada">
        <div class="col-md-8">

          <app-entry-content [entry]="entrada"> </app-entry-content>
        </div>

        <app-entry-sidebar [entry]="entrada" [book]="entrada.librosEntrada[0]" [librosParecidos]="librosParecidos"> </app-entry-sidebar>
        <div class="col-sm-12">
        <app-entry-footer [entry]="entrada" [cuatroPostPequenosConImagen]="cuatroPostPequenosConImagen" [comentarios]="comentarios"
        [entradaAnteriorYSiguiente]="entradaAnteriorYSiguiente">
          </app-entry-footer>

        </div>
      </div>

    </div>

  </div>
</div>