

.bookMenuBlock {
    background-color: #f1f1f1;
    padding: 5px 10px 20px;
    margin-bottom: 20px;
    .bookMenuTitle {
        font-size: 18px;
        font-weight: 400;
        color: black;
        padding: 20px 10px;
        font-family: 'Montserrat', sans-serif;
    }

    li {
        line-height: 19px;
        padding: 8px 0px;

        &.list-element {
            border-bottom: 1px solid #d2d2d2;
            
        }
        a{
            &.active {
                font-weight: bold;
                color: #e3b015 !important;
                .softHighlight{
                    color: #e3b015;
                }
            }
            color: #707070 !important;
            .softHighlight{
                color: #3a3a3a;
            }
            .fa{
                color: #efbd36;
                float: right;
                margin-right: -5px;
                margin-top: 2px;
            }
        }

        &:last-child {
            border-bottom: 0px solid #d2d2d2;
        }
    }
}