<div class="light-wrapper">
  <div class="swiper-container-wrapper image-blog-wide-wrapper blog-carousel-wrapper blog-carousel-wrap">
    <div class="swiper-container image-blog-wide blog-carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let entradaSimple of ultimasEntradas">
          <figure>
            <div class="caption">
              <div class="info">
                <div class="text">
                  <div class="text-center">
                    <span class="category">
                      <em class="blue">
                        <a href="#">Misceláneos</a>
                      </em>
                    </span>
                  </div>
                  <h2 class="post-title text-center">
                    <a routerLink="/{{entradaSimple.urlEntrada}}">{{entradaSimple.tituloEntrada}}</a>
                  </h2>
                  <div class="meta text-center">
                    <span class="date">{{entradaSimple.fechaAlta | date:'dd MMM yyyy'}}</span>
                    <span class="author">Por
                      <a routerLink="/editor/{{entradaSimple.nombreAutor}}">{{entradaSimple.nombreAutor}}</a>
                    </span>
                    <span class="comments">
                      <a routerLink="/{{entradaSimple.urlEntrada}}">{{entradaSimple.numeroComentarios}} Comentarios</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <img src="{{entradaSimple.imagenEntrada}}" alt="" /> </figure>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next btn"></div>
    <div class="swiper-button-prev btn"></div>
  </div>
  <div class="container inner nopaddingbottom">
    <div class="blog row">
      <div class="col-sm-8">
        <div class="blog-content classic-view">
          <div class="blog-posts">
            <app-anadir-entrada></app-anadir-entrada>
            <app-anadir-entrada2></app-anadir-entrada2>
          </div>
          <!-- /.blog-posts -->

        </div>
        <!-- /.classic-view -->


        <!-- BARRA LATERAL -->

        <!-- /.page-navi -->
        <div class="clearfix"></div>
      </div>
      <!-- /.blog-content -->

      <aside class="col-sm-4 sidebar">

        <!-- /.widget -->

        <div class="sidebox widget">
          <h3 class="widget-title section-title">Lo más leído este mes...</h3>
          <ul class="post-list">
            <app-libros-mes-sidebar [libros]="librosMasLeidosMes"></app-libros-mes-sidebar>
          </ul>
          <!-- /.post-list -->
        </div>
        <!-- /.widget -->




        <div class="sidebox widget">
          <h3 class="widget-title section-title">¿Quieres colaborar con nosotros?</h3>
          <figure>
            <!--<img src="assets/style/images/art/about.jpg" class="img-auto" alt=""> --> </figure>
          <div class="divide10"></div>
          <p>¿Eres una editorial o un autor y quieres que hagamos una reseña de tu libro? ¿Eres redactor de contenidos y te
            apetece escribir en Momoko? ¡Ponte en contacto!
            <a href="mailto:info@momoko.es"> info@momoko.es </a>
          </p>

          <div class="clearfix"></div>
        </div>

        <app-sidebar-instagram></app-sidebar-instagram>

      </aside>
      <!-- /column .sidebar -->

    </div>
    <!-- /.blog -->

  </div>
</div>
<app-fila3entradasfondonegro></app-fila3entradasfondonegro>
<app-libros-horizontal [libros]="librosUltimosAnalisis" [titulo]="tituloUltimosAnalisis"></app-libros-horizontal>
<section data-kc-equalheight="true" data-kc-equalheight-align="middle" class="kc-elm kc-css-313498 kc_row fen-bg-overlay">
  <div class="kc-row-container  kc-container">
    <div class="kc-wrap-columns">
      <div class="kc-css-201147 col-md-2 col-xs-12 vertical">
        <div class="kc-col-container horizontal">
          <div class="kc-elm kc-css-97853 kc-icon-wrapper vertical">
              <i class="budicon-book-5"></i>
          </div>
        </div>
      </div>
      <div class="kc-elm kc-css-24122 col-md-8 col-xs-12 kc_column kc_col-sm-10">
        <div class="kc-col-container">
          <div class="kc-elm kc-css-435038 kc_text_block">
            <p>
              “Ambos estaban pálidos y delgados; pero aquellos rostros blancos estaban iluminados con el amanecer de un nuevo futuro"</p>
            <p>Crimen y castigo – Fiódor Dostoyevski</p>
            <div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="dark-wrapper">
  <div class="container inner">
    <div class="grid-view">
      <div class="col-sm-12 col-md-9 marginTop40">
        <h3> Último cómic analizado </h3>
        <div class="divider_inner divider_line1" style="border-color:#EFC66E;border-style: solid;width: 50px;border-width: 2px;"></div>
        <h2 class="separatop"> La senda de los druidas, análisis </h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nibh enim, fermentum a odio in, luctus finibus diam.
          Quisque ac vestibulum dolor, sit amet ultricies risus. Maecenas iaculis egestas eros vel volutpat. Praesent efficitur
          et magna vel egestas. </p>
        <a href="https://www.instagram.com/urbanshots/" class="btn">Ver cómic </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3" style="margin-top:-70px">
        <app-libro3d [anchura]="292" [anchuraPortada]="292" [alturaPortada]="400" [portada]="portada"></app-libro3d>
    </div>
  </div>
</div>
<app-videos-horizontal [videos]="ultimos3Videos"></app-videos-horizontal>

