<div class="dark-wrapper">
  <div class="container  lineafina">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/libro/{{libro.urlLibro}}" [class.active]="isActive(['libro', libro.urlLibro])" routerLinkActive="active">
            <u>Ficha del libro</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayAnalisis">
          <a routerLinkActive="active" routerLink="/{{urlAnalisis}}">
            <u>Análisis</u>
          </a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/libro/criticas/{{libro.urlLibro}}">Críticas de los usuarios</a>
        </li> -->
        <li class="nav-item" *ngIf="hayNoticias">
          <a class="nav-link" routerLinkActive="active" routerLink="/libro/noticias/{{libro.urlLibro}}">Noticias </a>
        </li>
        <li class="nav-item" *ngIf="hayGuia">
          <a class="nav-link disabled" routerLink="/libro/guia-personajes/{{libro.urlLibro}}">Guía de personajes </a>
        </li>
      </ul>
    </div>
  </div>
</div>
