<div class="col-sm-12 lp10 marginTop20">
  <h4> Información adicional
    <a (click)="anadirInfo()">
      <i class="ion-plus"></i>
    </a>
  </h4>
</div>
<div *ngFor="let info of infoAdicional">
  <div class="col-sm-4 lp10">
    <div class="form-field">
      <label>
        <input type="text" [(ngModel)]="info.key" placeholder="Título" />
      </label>
    </div>
    <!--/.form-field -->
  </div>
  <div class="col-sm-8 lp10">
    <div class="form-field">
      <label>
        <input type="text" [(ngModel)]="info.valor" placeholder="Valor etiqueta" />

      </label>
    </div>
    <!--/.form-field -->
  </div>
</div>
