<div class="light-wrapper marginBottom50 hidden-xs">
  <div class="container">
    <div class="grid-view">
      <span class="titulos">
        <h2> {{titulo}} </h2>
      </span>
      <div class="row blog-posts blog-content" style="margin-top:50px;">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="post col-sm-12 col-md-2" *ngFor="let libro of libros; let first = first; let i = index;">
            <div class="portadaContainer" style="max-width: 100%; margin-bottom: 10px">
              <figure class="overlay vertical">
                <a routerLink="/libro/{{libro.urlLibro}}">
                  <span class="over">
                    <span></span>
                  </span>
                  <app-lazy-image
                  image="{{libro.portada}}" alt="Portada libro - {{libro.titulo}}"
                  name="Portada - {{i}}">
                  </app-lazy-image>
                </a>
              </figure>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="post col-sm-12 col-md-2" *ngFor="let libro of libros; let first = first;">
            <div class="post-content">
              <h3 class="post-title">
                <a routerLink="/libro/{{libro.urlLibro}}">{{libro.titulo}}</a>
              </h3>
              <div class="text-center">
                <a routerLink="/libro/{{libro.urlLibro}}" class="more">Continuar leyendo</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

</div>