<div class="dark-wrapper">
  <div class="container  lineafina">
    <div class="col-md-12" style="margin-bottom:0px">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="esSaga">
          <a routerLink="/saga/{{libro.saga.urlSaga}}">
            <u>Saga</u>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/libro/{{libro.urlLibro}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <u>Ficha del libro</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayAnalisis">
          <a routerLinkActive="active" routerLink="/opiniones/{{urlAnalisis}}" [class.active]="isActive('ANALISIS')">
            <u>Reseña</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numNoticias == 1">
          <a class="nav-link link-noticia" routerLink="/{{urlNoticia}}" [class.active]="isActive('NOTICIA')">
            <u>Noticias</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numNoticias > 1">
          <a class="nav-link link-noticia" routerLink="/noticias-libro/{{libro.urlLibro}}" [class.active]="isActive('NOTICIA')">
            <u>Noticias</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numMiscelaneos == 1">
          <a class="nav-link link-noticia" routerLink="/{{urlMiscelaneo}}" [class.active]="isActive('MISCELANEO')">
            <u>Miscelaneos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numMiscelaneos > 1">
          <a class="nav-link link-noticia" routerLink="/miscelaneos-libro/{{libro.urlLibro}}" [class.active]="isActive('MISCELANEO')">
            <u>Miscelaneos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numVideos == 1">
          <a class="nav-link link-noticia" routerLink="/{{urlVideo}}" [class.active]="isActive('VIDEO')">
            <u>Vídeos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numVideos > 1">
          <a class="nav-link link-noticia" routerLink="/videos-libro/{{libro.urlLibro}}" [class.active]="isActive('VIDEO')">
            <u>Vídeos</u>
          </a>
        </li>
        <li class="nav-item" *ngFor="let datoEntrada of menuLibroExtra, let last = last;">
          <a class="nav-link" routerLink="/{{datoEntrada.urlMenuLibro}}/{{datoEntrada.urlEntrada}}" [class.active]="isActive(datoEntrada.urlMenuLibro)">
            <u>{{datoEntrada.nombreMenuLibro}}</u>
          </a>
        </li>
        <!--:url_libro/:url_zona/:url_entrada-->
      </ul>
    </div>
  </div>
</div>