.nav-tabs>li>a {
    padding: 25px 20px 25px;
  }
  
  .lineafina {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .nav-item .active {
    background-color: white;
  }
  
  u {
    text-decoration: none;
  }
  
  .active u {
    text-decoration: none;
    border-bottom: 2px solid rgb(238, 188, 54);
  }
  
  .active a {
    text-decoration: none;
    border-bottom: 2px solid rgb(238, 188, 54);
  }
  