.portadaContainer {
  height: 350px;
  width: 240px;
  overflow: hidden;
}

.titulo_libro {
  margin-bottom: 0px;
  padding-top: 10px;
}

.product-layout-view a {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  border: 3px solid #BDBDBD;
  line-height: .5;
  margin-right: 10px;
  border-radius: 10px;
}

.product-layout-view a.active {
  color: #e3b015;
  border: 3px solid #e3b015;
}

.product-layout-view a:hover {
  border: 3px solid #e3b015;
}

.iconomono {
  color: #BDBDBD;
}

.separatop15 {
  margin-top: 15px;
}

.separatop {
  margin-top: 16px;
}

.separatop25 {
  margin-top: 25px;
}

.separatop35 {
  margin-top: 35px;
}

select.ui-paginator-rpp-options.ui-widget.ui-state-default {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-weight: inherit;
  width: 100% !important;
  height: 40px;
  padding: 2px 15px 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: inherit;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 0;
  resize: none;
  vertical-align: middle;
  box-shadow: none;
  transition: all 150ms ease-in;
  color: #505050 !important;
}

a:hover,
a:focus {
  color: #e3b015;
}
.paginas-pagination {
  padding: 60px 0;
}


.paginas-pagination ul.page-numbers {
  list-style: none;
  padding: 0;
  display: block;
}

.paginas-pagination ul.page-numbers li {
  display: inline-block;
}

.paginas-pagination ul.page-numbers .page-numbers {
  padding: 13px 15px 10px;
  margin-right: 10px;
  display: block;
  background-color: white;
  line-height: 1;
  box-shadow: 0 2px 10px rgba(192, 221, 238, 0.7);
  font-weight: 700;
  color: #616161;
}

.paginas-pagination ul.page-numbers .page-numbers.current {
  background-color: #e3b015;
}

.paginas-pagination ul.page-numbers .page-numbers.current {
  color: white;
}

.descripcionlibro {

  margin-top: 15px;
  font-size: 14px;
}

.clearfix {
  margin-bottom: 50px;
}

.autor_libro {
  font-family: 'Playfair';
  font-size: 20px;
  font-style: italic;
  color: #9e9e9e;
}

.contenedorImagenes {
  height: 325px;      /* equals max image height */
  width: 100%;
  white-space: nowrap; /* this is required unless you put the helper span closely near the img */

  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 325px;
  max-width: 100%;
}

.overlay a .over {
  opacity: 0;
  height: 100%;
  position: absolute;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: rgba(30, 30, 30, 0.6);
  overflow: hidden;
  transition: all 0.4s;
}
