::ng-deep .grayborder {
    border: 1px solid #cdcdcd;
  }

  .fa-window-close{
    font-size: 20px;
    padding-top: 5px;
    color: red;
    padding-right: 10px;
  }

  .fa-check-square{
    font-size: 20px;
    padding-top: 5px;
    color: green;
    padding-right: 10px;
  }