<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button type="button" (click)="newBook()" class="btn btn-outline-primary">Nuevo libro</button>
      </div>
    </div>
  </div>

  <div class="divide10"></div>
  <div class="row tabla-libros">
    <div class="col-md-12">
        <p-table #dt [columns]="cols" [value]="books" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="grayborder" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Ordenar" ariaLabelDesc="Orden descendiente" ariaLabelAsc="Orden ascendiente"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book let-columns="columns">
                <tr (click)="editBook(book)">
                    <td class="grayborder"> {{book.titulo}} </td>
                    <td class="grayborder"> {{book.editorial.nombreEditorial}} </td>
                    <td class="grayborder"> {{book.autoresString}} </td>
                    <td class="grayborder"> {{book.generosString}} </td>
                    <td class="grayborder"> {{book.anoEdicion}} </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </div>


  <div class="divide60"></div>

</div>
