<div class="row">
  <div class="col-md-12">
    <p-fileUpload name="myfile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChange($event)" chooseLabel="Subir imagenes"
      auto="auto" maxFileSize="1000000">
      <ng-template pTemplate="content">
        <div>Arrastra aquí las imágenes de la galería</div>
      </ng-template>
    </p-fileUpload>
  </div>
  <div class="col-md-12">
    <div class="form-field">
        <h4> Columnas galería: </h4>
    </div>
    <select [(ngModel)]="selectedValue">
      <option [ngValue]="3">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="6">6</option>
    </select>
  </div>
</div>
