<div class="navbar navbar-default default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="header-left">
        <ul class="social">
          <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
          <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
          <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
          <li> <a href="#"><i class="ion-social-youtube"></i></a> </li>
          <li> <a href="#"><i class="ion-social-pinterest"></i></a> </li>



        </ul>
      </div>
      <!-- /.header-left -->
      <div class="header-right">
        <div class="search-form">
          <form action="#">
            <fieldset>
              <input id="search" placeholder="Buscar" />
            </fieldset>
          </form>
        </div>
      </div>
      <!-- /.header-right -->
      <div class="nav-bars-wrapper">
        <div class="nav-bars-inner">
          <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
        </div>
        <!-- /.nav-bars-inner -->
      </div>
      <!-- /.nav-bars-wrapper -->
    </div>
    <!-- /.navbar-header -->

    <div class="nav-wrapper">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#!"><b>Novelas</b>  <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="index.html"><img class="iconosmenu" src="assets/style/images/iconos/robot.png"/> Ciencia ficción </a></li>
              <li><a href="index2.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis-clasicos.png"/>Clásicos </a></li>
              <li><a href="index4.html"><img class="iconosmenu" src="assets/style/images/iconos/novelas eroticas.png"/> Erótica</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis-novelas-fantasia.png"/>Fantasía</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/novelas historicas.png"/>Histórica</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis novelas misterio.png"/>Misterio</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis novelas.png"/>Novela</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/novelas romanticas.png"/>Romance</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis libros de teatro.png"/>Teatro</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/novelas de terror.png"/>Terror</a></li>
              <li><a href="blog-post.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis-thrillers.png"/>Thriller</a></li>
            </ul>

          </li>
          <li><a href="#!">Libros especializados  <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="gallery1.html"><img class="iconosmenu" src="assets/style/images/iconos/artbook.png"/>Artbooks</a></li>
            </ul>
          </li>
          <li><a href="#!">Cómics novelas gráficas <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="about.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis comic europeo.png"/>Cómic europeo</a></li>
              <li><a href="about2.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis comic americano.png"/>Cómic americano </a></li>
              <li><a href="about3.html"><img class="iconosmenu" src="assets/style/images/iconos/analisis manga.png"/>Mangas</a></li>
            </ul>
          </li>
          <li><a href="#!">Noticias <span class="caret"></span></a>

          </li>


          <li><a href="contact.html"> Misceláneos </a>

            <ul class="dropdown-menu">
              <li><a href="contact.html"> Microrrelatos </a></li>
            </ul>

          </li>

          <li><a href="contact.html"> vídeos </a></li>

          <li><a href="contact.html" class="btnColaborar"> COLABORA </a></li>

          <li><a routerLink="/auth/login" routerLinkActive="active"  *ngIf="isLoggedIn === false">Login</a></li>
          <li><a routerLink="/auth/register" routerLinkActive="active" *ngIf="isLoggedIn === false">Signup</a></li>
          <li><a routerLink="/auth/editprofile" routerLinkActive="active"  *ngIf="isLoggedIn === true">My Profile</a></li>
          <li><a routerLink="/auth/logout" routerLinkActive="active" *ngIf="isLoggedIn === true"  (click)="onLogout()">Logout</a></li>

          <li><a routerLink="/gestion" routerLinkActive="active">Administrar</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/admin/lista-entradas" routerLinkActive="active">Entradas</a>
                <a routerLink="/admin/lista-libros" routerLinkActive="active">Libros</a>
                <a routerLink="/admin/lista-generos" routerLinkActive="active">Géneros</a>
              </li>
            </ul>
          </li>


        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.nav-wrapper -->

  </div>
  <!--/.container-fluid -->
</div>
<!-- /.navbar -->
