<div class="navbar navbar-default default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="header-left">
        <ul class="social">
          <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
          <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
          <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
          <li> <a href="#"><i class="ion-social-youtube"></i></a> </li>
          <li> <a href="#"><i class="ion-social-pinterest"></i></a> </li>



        </ul>
      </div>
      <!-- /.header-left -->
      <div class="header-right">
        <div class="search-form">
          <form action="#">
            <fieldset>
              <input id="search" placeholder="Buscar" />
            </fieldset>
          </form>
        </div>
      </div>
      <!-- /.header-right -->
      <div class="nav-bars-wrapper">
        <div class="nav-bars-inner">
          <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
        </div>
        <!-- /.nav-bars-inner -->
      </div>
      <!-- /.nav-bars-wrapper -->
    </div>
    <!-- /.navbar-header -->

    <div class="nav-wrapper">
      <div class="navbar-collapse collapse">
        <ul id="main-menu" class="nav navbar-nav">
          <li *ngFor="let menuPart of menu"><a routerLink="/categoria/{{menuPart.url}}" routerLinkActive="active"><b>{{menuPart.nombre}}</b>  <span class="caret"></span></a>

            <ul class="dropdown-menu" [ngClass]="{'double': menuPart.generos.length > 8}" *ngIf="menuPart.generos.length">
              <li *ngFor="let genero of menuPart.generos"><a routerLink="/genero/{{genero.urlGenero}}" routerLinkActive="active"><img class="iconosmenu" src="{{genero.iconoGenero}}"/> {{genero.nombre}} </a></li>
            </ul>

          </li>

          <li><a href="contact.html" class="btnColaborar"> COLABORA </a></li>

          <li><a routerLink="/auth/login" routerLinkActive="active"  *ngIf="isLoggedIn === false">Login</a></li>
          <li><a routerLink="/auth/register" routerLinkActive="active" *ngIf="isLoggedIn === false">Signup</a></li>
          <li><a routerLink="/auth/editprofile" routerLinkActive="active"  *ngIf="isLoggedIn === true">My Profile</a></li>
          <li><a routerLink="/auth/logout" routerLinkActive="active" *ngIf="isLoggedIn === true"  (click)="onLogout()">Logout</a></li>

          <li><a routerLink="/gestion" routerLinkActive="active">Administrar</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/admin/lista-entradas" routerLinkActive="active">Entradas</a>
                <a routerLink="/admin/lista-libros" routerLinkActive="active">Libros</a>
                <a routerLink="/admin/lista-generos" routerLinkActive="active">Géneros</a>
                <a routerLink="/admin/lista-galerias" routerLinkActive="active">Galerias</a>
              </li>
            </ul>
          </li>


        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.nav-wrapper -->

  </div>
  <!--/.container-fluid -->
</div>
<!-- /.navbar -->
