<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button type="button" (click)="volver()" class="btn btn-outline-primary">Volver</button>
      </div>
    </div>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="authorForm">
      <div class="form-group">
        <label for="author"><b>Nombre *</b></label>
        <input type="text" formControlName="name" id="name" class="form-control" [placeholder]="'Nombre del autor'"
          [ngClass]="{ 'is-invalid': submitted && authorF.name.errors }" (ngModelChange)="changeName($event)" />
        <div *ngIf="submitted && authorF.name.errors" class="invalid-feedback">
          <div *ngIf="authorF.name.errors.required">El nombre del autor no puede estar vacío</div>
        </div>
      </div>
      <div class="form-group">
        <label for="author"><b>URL Autor *</b></label>
        <input type="text" formControlName="authorUrl" id="authorUrl" class="form-control" [placeholder]="'Url del autor'"
          [ngClass]="{ 'is-invalid': submitted && authorF.authorUrl.errors }" />
        <div *ngIf="submitted && authorF.authorUrl.errors" class="invalid-feedback">
          <div *ngIf="authorF.authorUrl.errors.required">La url del autor no puede estar vacía</div>
        </div>
      </div>

      <div class="form-group">
        <label for="birhtYear"><b>Año de nacimiento</b></label>
        <input type="number" formControlName="birhtYear" id="birhtYear" class="form-control" [ngClass]="{ 'is-invalid': submitted && authorF.birhtYear.errors }" />
      </div>

      <div class="form-group">
        <label for="deathYear"><b>Año de defunción</b></label>
        <input type="number" formControlName="deathYear" id="deathYear" class="form-control" [ngClass]="{ 'is-invalid': submitted && authorF.deathYear.errors }" />
      </div>

      <div class="form-group">
        <label for="birthCountry"><b>País de nacimiento</b></label>
        <input type="text" formControlName="birthCountry" id="birthCountry" class="form-control" [placeholder]="'País del autor'"
          [ngClass]="{ 'is-invalid': submitted && authorF.birthCountry.errors }" />

      </div>
      <div class="form-group">
        <label for="description"><b>Descripción Autor</b></label>
        <textarea [froalaEditor] formControlName="description" [(froalaModel)]="author.description"></textarea>
      </div>

      <div class="form-field">
        <h2 class="section-title widget-title  margen_superior">Imagen de cabecera del autor</h2>
        <img src="{{authorF.authorHeaderImage.value}}" alt="Cabecera autor - {{authorF.name.value}}" />
        <p-fileUpload name="cabeceraFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeCabecera($event)"
          chooseLabel="Subir imagen" auto="auto" maxFileSize="1000000">

          <ng-template pTemplate="content">
            <div>Arrastra aquí la imagen que quieras subir.</div>
          </ng-template>
        </p-fileUpload>
      </div>

      <div class="form-field">
        <h2 class="section-title widget-title  margen_superior">Avatar del autor</h2>
        <div class="row">
          <div class="col-sm-6">
            <p-fileUpload name="iconoFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeAvatar($event)"
              chooseLabel="Subir imagen" auto="auto" maxFileSize="1000000">

              <ng-template pTemplate="content">
                <div>Arrastra aquí la imagen que quieras subir.</div>
              </ng-template>
            </p-fileUpload>
          </div>
          <div class="col-sm-6">
            <img class="imagen-avatar" src="{{authorF.avatar.value}}" alt="Avatar autor - {{authorF.name.value}}" />
          </div>
        </div>
      </div>
      
        <button type="button" class="btn btn-primary save-button" (click)="onSubmit()">
          Guardar
        </button>
        <button type="button" class="btn btn-secondary" routerLink="/admin/roles">
          Volver
        </button>
      
    </form>


  </div>
</div>