<div class="blog row">
  <div class="col-md-12 align-center mobileMarginTop20">
    <div class="categoryTitle">{{type}}</div>
    <div class="tituloEntrada">
      <h1>{{entry.tituloEntrada}}</h1>
    </div>
    <div class="infoEntrada">
      <span class="autorEntrada">
        {{subheaderAuthorIntro}}
        <a routerLink="/redactor/{{entry.redactor.urlRedactor}}">{{entry.redactor.nombre}}</a>
      </span>
      <span class="dot"></span>
      <span class="entryDate">
        {{entry.fechaAlta | date:'dd MMM yyyy'}}
      </span>
      <span class="dot"></span>
      <span class="numberOfComments">
        {{entry.numeroComentarios}} 
        <span *ngIf="entry.numeroComentarios === 1"> Comentario </span>
        <span *ngIf="entry.numeroComentarios !== 1"> Comentarios </span>
      </span>
    </div>
  </div>
</div>