<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div [hidden]="selectedEditorial">
        <button type="button" (click)="nuevaEditorial()" class="btn btn-outline-primary">Nueva editorial</button>
      </div>
      <div [hidden]="!selectedEditorial">
        <button type="button" (click)="volver()" class="btn btn-outline-primary">Volver</button>
      </div>
    </div>
  </div>

  <div class="divide10"></div>
  <div class="row tabla-libros" [hidden]="selectedEditorial">
    <div class="col-md-12">
      <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <input #gb type="text" pInputText size="50" placeholder="Filtrar">
        <i class="fa fa-search" style="margin:4px 0px 0 4px"></i>
      </div>
      <p-dataTable [value]="editoriales" [rows]="10" [paginator]="true" [globalFilter]="gb" resizableColumns="true" [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selectedEditorial" (onRowSelect)="onRowSelect($event)">
        <p-column field="nombreEditorial" header="Nombre" [sortable]="true"></p-column>
        <p-column field="urlEditorial" header="Url" [sortable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>


  <div class="divide10"></div>

  <app-editorial-detail [editorial]="selectedEditorial" (onEditorialGuardado)="actualizarOAnadirEditorial($event)"></app-editorial-detail>
  <div [hidden]="!selectedEditorial">
    <button type="button" (click)="volver()" class="btn btn-outline-primary">Volver</button>
  </div>
</div>
