<p-growl [(value)]="msgs"></p-growl>
<div *ngIf="galeria" class="form-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="vanilla vanilla-form" novalidate="novalidate">
        <div class="row">
          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Nombre de la galería: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="galeria.nombreGaleria" (ngModelChange)="cambioNombre($event)" placeholder="Escribe aquí el name del género"
                />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Url de la galería: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="galeria.urlGaleria" placeholder="Escribe aquí la URL del género" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="divide10"></div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Número de columnas: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="number" [(ngModel)]="galeria.columnas" placeholder="Número de columnas" (change)="pintarColumnas()" min="1"
                  max="6">
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="divide10"></div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Número de filas: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="number" [(ngModel)]="numeroFilas" placeholder="Número de filas" (change)="pintarColumnas()" min="1"
                  max="6">
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="lp10 col-sm-12" >
            <div class="form-field">
              <h2 class="section-title widget-title  margen_superior">Subida múltiple</h2>
              <label>{{cabeceraFileM}}</label>
              <p-fileUpload name="cabeceraFileM[]" customUpload="true" accept="image/*" (uploadHandler)="multipleFileChangeCabecera($event)"
                chooseLabel="Subir imagenes" showCancelButton="false" auto="auto" previewWidth="1" maxFileSize="2000000" multiple="multiple">

                <ng-template pTemplate="content">
                  <div>Arrastra aquí las imagenes que quieras subir en bloque.</div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>

          <div *ngFor="let imagen of galeria.imagenes; let $i = index">
            <div class="divide10"></div>

            <div class="lp10" [ngClass]="bootstrapcolumn">
              <div class="form-field">
                <h2 class="section-title widget-title  margen_superior">Imagen {{$i + 1}}</h2>
                <img src="{{imagen}}" alt="{{imagen}}" />
                <p-fileUpload name="cabeceraFile{{$i}}[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeCabecera($event, $i)"
                  chooseLabel="Subir imagen" auto="auto" maxFileSize="2000000">
                  <ng-template pTemplate="content">
                    <div>Arrastra aquí las imagen que quieras subir.</div>
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
          </div>

          <div class="col-sm-12 rp10 botonInferior">
            <div [hidden]="!esGaleriaNuevo">
              <input type="submit" class="btn btn-forest" value="Crear galeria" (click)="guardarGaleria()" data-error="Fix errors" data-processing="Sending..."
                data-success="Thank you!">
            </div>
            <div [hidden]="esGaleriaNuevo">
              <input type="submit" class="btn btn-forest" value="Actualizar galeria" (click)="guardarGaleria()" data-error="Fix errors"
                data-processing="Sending..." data-success="Thank you!">
            </div>
          </div>
          <footer class="notification-box"></footer>
        </div>
      </div>
    </div>
  </div>



</div>
