.modal {
    text-align: center;

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;

        .modal-body {

            .triangle {
                width: 0;
                height: 0;
                border-left: 60px solid transparent;
                border-right: 60px solid transparent;
                border-bottom: 60px solid #f4b100;
                left: 85%;
                top: 60px;
                position: absolute;
                -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
                transition: 1s;
                &.selected{
                    
                    left: 42%;
                }
            }

            .imageHeaderContainer {
                margin-top: 48px;
                margin-bottom: 20px;
            }
        
            h3 {
                font-family: 'Cabin', sans-serif;
                font-weight: bold;
                font-size: 19px;
            }
        
            padding: 0px;
            text-align: center;
            font-family: 'Cabin',
            sans-serif;
        
            .categoryDescription {
                line-height: 18px;
                font-size: 14px;
                color: #292929;
                min-height: 130px;
            }
                    
            .wrapper{
                position: relative;
                overflow: hidden;
                height: 100px; 
                &.selected .slide{
                    transition: 1s;
                    left: 0;
                }
            }

            .slide {
                position: absolute;
                left: 600px;
                width: 100%;
                height: 470px;
                &.leftSlide{
                    background: #efefef;
                }
                &.rightSlide{
                    background: #f4b100;
                }
                transition: 1s;
            }
            
           /* .wrapper:hover .slide {
                transition: 1s;
                left: 0;
            }*/
            
            .leftSide {
                background-color: #efefef;
                height: 470px;
            }
        
            .rightSide {
                background-color: #f4b100;
                height: 470px;
            }
        
            .btn {
                padding: 8px;
                text-transform: none;
                background-color: black;
                font-size: 15px;
                padding: 10px 20px;
                &.reverse{
                    background-color: white;
                    color:black !important;

                }
            }
        
        }
        
        
       

    }

}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

 
@media (min-width: 768px) {
    .modal-dialog {
        width: 840px;
    }
}
