.t a:hover img{
  -webkit-transform: scale(1.1) rotate(6deg);
  -moz-transform: scale(1.1) rotate(6deg);
  -ms-transform: scale(1.1) rotate(6deg);
  -o-transform: scale(1.1) rotate(6deg);
  transform: scale(1.1) rotate(6deg);
}

.t a img {
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
