<div class="post">
    <div class="post-content">
      <div class="collage-wrapper bm30">
        <div id="collage-medium" class="collage effect-parent light-gallery">
          <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 202px; height: 203px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc1-full.jpg" class="lgitem" data-sub-html="#caption1">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc1.jpg" style="width: 222px; height: 223px;" alt="">
                <div id="caption1" class="hidden">
                  <h3>Fusce Consectetur Sollicitudin</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 311px; height: 203px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc2-full.jpg" class="lgitem" data-sub-html="#caption2">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc2.jpg" style="width: 331px; height: 223px;" alt="">
                <div id="caption2" class="hidden">
                  <h3>Amet Sit Ridiculus</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 261.688px; height: 203px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc3-full.jpg" class="lgitem" data-sub-html="#caption3">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc3.jpg" style="width: 281.688px; height: 223px;" alt="">
                <div id="caption3" class="hidden">
                  <h3>Vulputate Quam Tellus</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 158px; height: 248px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc4-full.jpg" class="lgitem" data-sub-html="#caption4">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc4.jpg" style="width: 178px; height: 268px;" alt="">
                <div id="caption4" class="hidden">
                  <h3>Pellentesque Ullamcorper Fusce</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 235px; height: 248px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc5-full.jpg" class="lgitem" data-sub-html="#caption5">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc5.jpg" style="width: 255px; height: 268px;" alt="">
                <div id="caption5" class="hidden">
                  <h3>Parturient Elit Mattis</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 381.688px; height: 248px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden;">
            <div class="overlay">
              <a href="assets/style/images/art/bc6-full.jpg" class="lgitem" data-sub-html="#caption6">
                <span class="over">
                  <span></span>
                </span>
                <img src="assets/style/images/art/bc6.jpg" style="width: 401.688px; height: 268px;" alt="">
                <div id="caption6" class="hidden">
                  <h3>Condimentum Inceptos Ligula</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <span class="category">
          <em class="rose">
            <a href="#">Urban</a>
          </em>
        </span>
      </div>
      <h2 class="post-title text-center">
        <a href="blog-post.html">Ligula Tristique Malesuada Venenatis Fermentum</a>
      </h2>
      <div class="meta text-center">
        <span class="date">12 Nov 2014</span>
        <span class="author">By
          <a href="#">Juno</a>
        </span>
        <span class="comments">
          <a href="#">3 Comments</a>
        </span>
      </div>
      <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis
        dis parturient. Curabitur blandit tempus lacinia odio. Nullam quis risus eget urna mollis ornare vel eu
        leo. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula. Nulla
        vitae elit libero, a pharetra augue.</p>

      <div class="text-center">
        <a href="#" class="more">Sigue leyendo </a>
      </div>


    </div>
    <!-- /.post-content -->

  </div>
  <!-- /.post -->
