.sidebar {
  margin-top: 0px;
  margin: 0px 15px;
}

.search-form input {
  width: 100%;
}

.imagen-buscador {
  float: left;
  width: 40px;
  margin-top: -20px;
}

.banner {
  margin: 15px 0px;
}

.opacidad-baja {
  opacity: 0.8;
}
