<div class="message">
    <div class="user">
      <img alt="" src="{{comentario.autor.avatar}}" class="avatar" />
    </div>
    <div class="message-inner">
      <div class="info">
        <h5>
          <a href="#">{{comentario.autor.nombre}}</a>
        </h5>
        <div class="meta">
          <span class="date">{{comentario.fecha | date:'dd MMM yyyy'}}</span>
          <span class="reply">
            <a class="link-effect" (click)="seleccionarComentario(comentario)">Responder</a>
          </span>
        </div>
      </div>
      <p>{{comentario.textoComentario}}</p>
    </div>
  </div>
  <ul class="children" *ngIf="comentario.comentariosHijo">
      <li *ngFor="let respuesta of comentario.comentariosHijo, let last = last;">
          <app-plantilla-comentario [comentario]="respuesta" (onSelectedComentario)="onSeleccionarComentario($event)"></app-plantilla-comentario>
      </li>
    </ul>
