.circle {
    background: rgb(238, 188, 55);
    border-radius: 85px;
    color: white;
    height: 85px;
    width: 85px;
    display: table;
    margin: 20px auto;
    position: relative;
  }
    
  .circle p {
    vertical-align: middle;
    text-align: center;
    font-size: 55px;
    display: table-cell;
    padding-top: 10px;
  }
  