.circle {
    background: #dbae29;
    border-radius: 100px;
    color: white;
    height: 100px;
    /* font-weight: bold; */
    width: 100px;
    display: table;
    margin: 20px auto;
    position: relative;
  }
  
  .inner-circle {
    position: absolute;
    background: none;
    border-radius: 50%;
    border: 1px dashed white;
    height: 90px;
    width: 90px;
    /*
     Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    margin: -45px 0px 0px -45px;
  }
  
  .circle p {
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    display: table-cell;
    padding-top: 10px;
  }
  