<img src="{{entrada.imagenDestacada}}" alt="Imágen destacada - {{entrada.tituloEntrada}}" title="Imágen destacada - {{entrada.tituloEntrada}}" />

<div class="cuerpo">
  <div [innerHTML]="content | sanitizeHtml"></div>
  <ng-container *ngFor="let bookTemp of bookTemplates; let i = index">
    <app-book-template [bookTemp]="bookTemp"></app-book-template>
  </ng-container>

</div>
<div class="infoEntrada">

  <span class="lineaHorizontalCorta"></span>
  <span class="etiquetasText">Etiquetas
    <span *ngFor="let etiqueta of entrada.etiquetas, let last = last;">
      <a routerLink="/tag/{{etiqueta.urlEtiqueta}}">{{etiqueta.nombreEtiqueta}}</a>
      <span [hidden]="last">, </span>
    </span>
  </span>
</div>