.sidebar{
    margin-top:40px;
  }
  
  .search-form{
    float:none;
  }

.search-form input{
  width: 100%;
}

.imagen-buscador{
    float: left;
    width: 40px;
    margin-top: -20px;
}

.banner {
  margin: 15px 0px;
}