.sidebar {
  margin-top: 40px;
}

.search-form {
  float: none;
}

.search-form input {
  width: 100%;
}

.imagen-buscador {
  float: left;
  width: 40px;
  margin-top: -20px;
  margin-right: 10px;
}

.imagen-filtros {
  float: left;
  width: 40px;
  padding: 5px;
  margin-right: 10px;
}

.panel-body{
  background: none;
  margin-top:20px;
  padding-left: 0px;
}

i.ion-chevron-up {
  float: right;
}

i.ion-chevron-down {
  float: right;
}

.banner {
  margin: 15px 0px;
}

.opacidad-baja {
  opacity: 0.8;
}

::ng-deep body .ui-chkbox .ui-chkbox-box {
  border: none !important;
}

::ng-deep .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
  background-color: #e6e6e6;
}

::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #e3b015;
  background-color: #e3b015 !important;
  color: #ffffff;
}

::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: #e3b015;
}

::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: #e3b015;
}

::ng-deep body .ui-chkbox-label {
  display: inherit;
}