<aside class="col-sm-4 sidebar hidden-xs">

  <!-- /.widget -->
  <div class="sidebox widget">
    <img class="imagen-buscador" src="https://momoko.es/images/toucan.png" alt="Mascota buscador momoko" />
    <h3 class="widget-title section-title">Buscador</h3>

    <div class="search-form">
      <form action="#">
        <fieldset>
          <input id="search" [(ngModel)]="busqueda" (keyup.enter)="buscarResultados()" name="busqueda" placeholder="Buscar" />
        </fieldset>
      </form>
    </div>
    <!-- /.post-list -->
  </div>

  <div class="sidebox widget" *ngIf="basicFilters && basicFilters.length > 0">
    <img class="imagen-buscador" src="https://momoko.es/images/fijas/icon_filters01.png" alt="Mascota filtros simples momoko" />
    <h3 class="widget-title section-title">Filtrar por</h3>
    <div *ngFor="let filter of basicFilters; let last = last;">

        <h4>{{filter.nameFilter}}</h4>
        <div class="row" style="width:250px;margin-bottom:10px">
          <div class="col-xs-12" *ngFor="let option of filter.filterValues">
            <p-checkbox (onChange)="updateFilters()" name="{{filter.nameFilter}}" value="{{option.value}}" label="{{option.name}}"
            [(ngModel)]="filter.stringSelectedValues" inputId="filter.urlFilter"></p-checkbox>
           
                  <!-- <p-checkbox name="{{filter.nameFilter}}" value="{{possibleValue.value}}" [(ngModel)]="filter.value" label="{{possibleValue.name}}"></p-checkbox> -->

              
          </div>
        </div>
        <hr *ngIf="!last" />

    </div>
    <!-- /.post-list -->
  </div>
  <div class="sidebox widget marginTop30" *ngIf="advancedFilters && advancedFilters.length > 0">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <img class="imagen-filtros" src="https://momoko.es/images/fijas/icon_filters02.png" alt="Mascota filtros simples momoko" />
            <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseOne">Filtros
              avanzados <i class="ion-chevron-up"></i></a>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div *ngFor="let filter of advancedFilters; let last = last;">
                <h4>{{filter.nameFilter}}</h4>
                <div class="row" style="width:250px;margin-bottom:10px">
                  <div class="col-xs-12" *ngFor="let option of filter.filterValues">
                      <p-checkbox (onChange)="updateFilters()" name="{{filter.nameFilter}}" value="{{option.value}}" label="{{option.name}}"
                      [(ngModel)]="filter.stringSelectedValues" inputId="filter.urlFilter"></p-checkbox>
                  </div>
                </div>
                <hr *ngIf="!last" />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="sidebox widget" *ngIf="libros">
    <h3 class="widget-title section-title">{{tituloSeccionLibros}}</h3>
    <ul class="post-list">
      <app-libros-mes-sidebar [libros]="libros"></app-libros-mes-sidebar>
    </ul>
    <!-- /.post-list -->
  </div>
  <!-- /.widget -->

  <div class="sidebox widget" *ngIf="entradas">
    <h3 class="widget-title section-title">{{tituloSeccionEntradas}}</h3>
    <ul class="post-list">
      <app-entradas-sidebar [entradas]="entradas"></app-entradas-sidebar>
    </ul>
    <!-- /.post-list -->
  </div>

  <div class="sidebox widget marginTop30">
    <h3 class="widget-title section-title">Ayudanos a crecer
      <img class="imagen-buscador" src="https://momoko.es/images/fijas/kofi.gif" alt="Gif for kofi patreon" />
    </h3>
    <span class="opacidad-baja">Invitanos a un café y ayudanos a seguir creciendo. Coffee son solo 3 €.</span>
    <a href='https://ko-fi.com/Z8Z38UQV' target='_blank'>
      <img height='36' style='border:0px;height:36px;margin-top: 10px;' src='https://az743702.vo.msecnd.net/cdn/kofi3.png?v=0'
        alt="Link para Coffe" border='0' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
    <!-- /.post-list -->
  </div>

  <div class="sidebox widget">
    <div class="banner">
      <a routerLink="/solicitud">
        <img src="https://momoko.es/images/fijas/banner-resenas.jpg" alt="Link para solicitar reseñas" />
      </a>
    </div>
    <div class="banner">
      <a routerLink="/criterios">
        <img src="https://momoko.es/images/fijas/guia-de-notas-banner.jpg" alt="Link para guía de notas" />
      </a>
    </div>
  </div>

  <div class="sidebox widget">
    <h3 class="widget-title section-title">¿Quieres colaborar con nosotros?</h3>
    <figure>
      <!--<img src="assets/style/images/art/about.jpg" class="img-auto" alt=""> -->
    </figure>
    <div class="divide10"></div>
    <p>¿Eres una editorial o un autor y quieres que hagamos una reseña de tu libro? ¿Eres redactor de contenidos y te
      apetece escribir en Momoko? ¡Ponte en contacto!
      <a href="mailto:info@momoko.es"> info@momoko.es </a>
    </p>

    <div class="clearfix"></div>
  </div>

</aside>