.tituloBloque h2{
    color: #2a2c2b;
    font-size: 22px;
    margin: 10px 0 15px;
    text-align: center;
  }
  
  .tituloBloque h2::after{
    content: '';
    width: 40px;
    border-bottom: 4px solid #EFC66E;
    display: block;
    padding: 3px;
    margin: 0 auto;
  }
  
  .product__image {
    margin: 0 0 20px;
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform .3s ease;
  }
  
  .product__image > a {
    overflow: hidden;
    display: block;
    height: 208px;
  }
  
  .product__image img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    margin-top: -35px;
  }
  
  .product__action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    transition: .3s ease;
  }
  
  .buy-now{
    color: #dbae27;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px 5px;
    font-weight: 600;
    border-radius: 40px;
    line-height: 1;
    font-size: 11px;
    border: 3px solid;
  }
  
  .product:hover .product__action {
      opacity: 1;
  }
  
  .btn_leer_mas {
    margin: 5px auto 0;
    text-align: center;
    color: #686868;
  }
  
  .product__title a{
    color: rgb(43, 43, 43);
  }
  