<div class="parallax page-title inverse-wrapper parallax2">
    <div class="container inner">
        <h1 class="text-center">Guía de notas </h1>
    </div>
    <!-- /.container -->

</div>

<div class="container inner tp0">

    <div class="divide60"></div>
    <div class="blog row">
        <div class="col-sm-12">
            <div class="blog-content classic-view">
                <div class="blog-posts">
                    <div class="post">
                        <div class="post-content">



                            <div class="row">
                                <h1 class="post-title text-center">Criterios de evaluación de momoko</h1>

                                <p>Momoko tiene un sistema de valoración y puntuación bastante diferente del resto de blogs
                                    y es que
                                    <b>valoramos los géneros de forma completamente independiente.</b> Déjanos que nos expliquemos
                                    primero. Imagínate que tú eres un acérrimo lector de novelas de fantasía y buscas en
                                    Momoko las novelas valoradas con un 10. Evidentemente, las primeras que te saldrían en
                                    una valoración que tuviese en cuenta todos los géneros serían
                                    <i>La intensa levedad del ser, El lazarillo de Tormes</i> o incluso
                                    <i>La Celestina</i>. Por supuesto, a ti ese baremo no te serviría de nada, porque
                                    <b>buscas novelas de un género afín a ti.</b>
                                </p>

                                <p>Por eso todas nuestras notas están suscritas a su género. Por ejemplo, si le ponemos un 9
                                    a una novela romántica eso no quiere decir ni mucho menos que esté a la altura de El
                                    señor de los anillos, sino que dentro del género romántico creemos que destaca frente
                                    al resto. </p>

                                <p>Fácil ¿verdad? Ahora veamos la valoración y el significado de cada nota:</p>
                            </div>


                            <div class="row light-wrapper box marginTop20">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/10.png" alt="Imagen nota para 10"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>10 - Obra maestra</h3>
                                    <p>La obra destaca en todos sentidos: tanto en su edición como en el estilo de escritura
                                        y / o dibujo, cumpliendo todas las exigencias del género y aportando algo absolutamente
                                        novedoso y brillantemente compuesto. Es un libro / cómic que
                                        <b>recomendamos por encima de cualquier otro, relevante para los amantes del género
                                            y prácticamente perfecto.
                                        </b>
                                    </p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/9.png" alt="Imagen nota para 9" />
                                </div>

                                <div class="col-sm-10">
                                    <h3>9 - Excelente</h3>
                                    <p>La obra destaca en casi todos los sentidos. Cumple con las exigencias del género de una
                                        forma simplemente colosal y es un imprescindible para los amantes del género.
                                    </p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/8.png" alt="Imagen nota para 8"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>8 - Muy buena</h3>
                                    <p>El libro / cómics es realmente brillante, de lo mejor de su género y probablemente del
                                        año. Lo recomendamos altamente a los amantes del género. Sin embargo, no aporta elementos
                                        novedosos ni trascendentales al género. </p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/7.png" alt="Imagen nota para 7"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>7 - Buena</h3>
                                    <p>Una obra interesante que funciona muy bien y que tiene una base muy sólida. Es un libro
                                        / cómic que sin duda disfrutarás si te gusta el género.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/6.png" alt="Imagen nota para 6"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>6 - Aceptable</h3>
                                    <p>Una obra con errores y sin grandes virtudes, pero que funciona como producto en general.
                                        Eso sí, lo recomendamos solo si te gustan mucho las obras del género.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/5.png" alt="Imagen nota para 5"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>5 - Aprobado.</h3>
                                    <p>La obra tiene importantes fallos con un público muy conciso capaz de pasar por alto grandes
                                        errores de edición, ortografía, expresión, narrativa, ritmo, diálogos, dibujo, etc.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/4.png" alt="Imagen nota para 4"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>4- Suspenso alto</h3>
                                    <p>El libro / cómic / obra no cuenta con los suficientes puntos fuertes o positivos para
                                        subsanar enormes errores en edición, expresión, escritura o dibujo en sí mismo. No
                                        es recomendable.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/3.png" alt="Imagen nota para 3"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>3 - Suspenso bajo</h3>
                                    <p>El libro / cómic / obra cuenta con uno dos puntos positivos en todo el conjunto, como
                                        la idea o la expresión en los diálogos, pero a tono general no es recomendable debido
                                        a sus terribles carencias en los otros apartados.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/2.png" alt="Imagen nota para 2"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>2 - No recomendable</h3>
                                    <p>El libro o la obra cuenta con tantas carencias que es prácticamente imposible de leer
                                        hasta el final. Pésimo resultado final.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/1.png" alt="Imagen nota para 1"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>1- No recomendable bajo ningún concepto</h3>
                                    <p>El libro o la obra tiene tantas carencias que llegar a la mitad es simplemente un sufrimiento
                                        reservado para nuestros peores enemigos. No es aceptable de ninguna forma.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                            <div class="row light-wrapper box">
                                <div class="col-sm-2 text-center">
                                    <img src="https://momoko.es/images/fijas/0.png" alt="Imagen nota para 0"/>
                                </div>

                                <div class="col-sm-10">
                                    <h3>0- No es un libro, es una caja de Chocapic</h3>
                                    <p>Pues eso, que no todo lo que se publica es bueno.</p>
                                </div>
                            </div>
                            <hr class="lineaSeparadora" />
                        </div>


                    </div>

                    <!-- /.footer-meta -->


                    <!-- /.comment-form-wrapper -->

                </div>
                <!-- /.post-content -->

            </div>
            <!-- /.post -->

        </div>
        <!-- /.blog-posts -->

    </div>

</div>
<!-- /.blog-content -->
<!-- /.classic-view -->
<div class="light-wrapper">
    <div class="container titulo">
        <div class="blog row">
            <div class="col-sm-12">
                <h1 class="post-title text-center">¿Qué tenemos en cuenta a la hora de valorar una obra?</h1>

            </div>
        </div>
    </div>
</div>

<div class="light-wrapper">
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-4">
                <img src="https://momoko.es/images/fijas/analisis-y-resenas-de-novelas-01.jpg" alt="Imagen ejemplo opiniones novelas">
            </div>
            <div class="col-sm-8">

                <h2> En una novela: </h2>

                <p>Lamentablemente, Momoko no es una plataforma de lanzamiento de autores noveles, por lo que tenemos en cuenta
                    múltiples factores a la hora de valorar una novela. Valoramos tanto la edición (que las tapas no se doblen,
                    el papel sea de una calidad decente y que no tenga errores ortográficos, gramaticales ni de estilo) como
                    el contenido. En ese sentido tenemos en cuenta la idea de la obra, la forma de desarrollarse la acción,
                    la capacidad de sorprender y enganchar del autor, la construcción de los personajes, su forma de crear
                    atmósferas e involucrar a los lectores y si la obra trasciende a su género o no. </p>

                <p>Las buenas obras cuentan con todos estos factores a la vez. </p>

            </div>
        </div>
    </div>
</div>

<div class="dark-wrapper">
    <div class="container inner">
        <div class="blog row">

            <div class="col-sm-8">

                <h2> En los libros académicos / obras de ensayo / manuales y otros especializados </h2>

                <p>Dependiendo del género y del tema del que trate la obra especializada valoramos la edición (si las tapas
                    tienen suficiente calidad y gramaje para no doblarse, la calidad del papel y el hecho de que no tenga
                    errores ortográficos, gramaticales ni de estilo), así como el contenido. Los libros académicos no deben
                    ser ni demasiado generales ni muy grandielocuentes en el lenguaje, aproximando la cercanía de lo postulado
                    con el lector. </p>

                <p>Asímismo, se valorará la inclusión de gráficas, fotografías, ilustraciones, infografías y otros elementos
                    de apoyo para la comprensión de la obra. En los manuales específicos de costura / moda / artes manuales
                    o los libros de recetas de cocina también se tendrán en cuenta otros factores como la dificultad de elaboración
                    de cada uno de los platos y la inclusión o no de fotografías de calidad. </p>

            </div>
            <div class="col-sm-4">
                <img src="https://momoko.es/images/fijas/analisis-y-resena-de-obras-de-ensayo.jpg" alt="Imagen ejemplo opiniones ensayo">
            </div>
        </div>
    </div>
</div>

<div class="light-wrapper">
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-4">
                <img src="https://momoko.es/images/fijas/analisis-y-resena-de-comics.jpg" alt="Imagen ejemplo opiniones comics">
            </div>
            <div class="col-sm-8">

                <h2> En los cómics y / o novelas gráficas: </h2>

                <p>Los cómics y novelas gráficas cuentan con un análisis doble por parte del grafismo y del guión. Valoramos
                    tanto la edición (que las tapas no se doblen, el papel sea de una calidad decente y que no tenga errores
                    ortográficos, gramaticales ni de estilo) como el contenido. En cuanto al contenido tendremos en cuenta
                    la calidad del dibujo y la utilización (o no) del color en las diferentes viñetas, así como la lectura
                    y la disposición de los elementos y su forma de contar las historias. El guión debe ser sorprendente
                    y adaptado al género y a cada uno de los personajes, funcionando a nivel de cómic y novela gráfica y
                    no sobrecargando la escena con demasiados argumentos. </p>

                <p>Se valorará positivamente el hecho de la inclusión de material extra al final de la obra como bocetos de
                    los personajes y los escenarios, concepts, estudio de los ambientes, etc.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="dark-wrapper">
    <div class="container inner">
        <div class="blog row">

            <div class="col-sm-8">

                <h2> En las sagas / colecciones de libros: </h2>

                <p>Las sagas y colecciones de libros o de cómics (como por ejemplo
                    <i>Crónica del Asesino de Reyes</i> o incluso
                    <i>One Piece</i>) cuentan con dos notas: una nota por cada libro individual y luego un baremo que se hace
                    de forma automática y general realizando una media de las notas de todos los volúmenes que compongan
                    la saga. </p>

                <p>De esta forma sabrás si una saga es recomendable antes de empezar a leerla </p>

            </div>
            <div class="col-sm-4">
                <img src="https://momoko.es/images/fijas/analisis-y-resena-de-sagas-y-colecciones.jpg" alt="Imagen ejemplo opiniones sagas colecciones">
            </div>
        </div>
    </div>
</div>
