<div class="dark-wrapper">
  <div class="container  lineafina">
    <div class="col-md-12" style="margin-bottom:0px">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/saga/{{saga.urlSaga}}" routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <u>Saga</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayAnalisis">
          <a routerLinkActive="active" routerLink="/analisis/{{urlAnalisis}}" [class.active]="isActive(['analisis', urlAnalisis])">
            <u>Análisis</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayNoticia">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/noticias-saga/{{saga.urlSaga}}">
            <u>Noticias</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayNoticias">
            <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/noticias-saga/{{saga.urlSaga}}">
              <u>Noticias</u>
            </a>
          </li>
        <li class="nav-item" *ngIf="hayMiscelaneo">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/noticias-saga/{{saga.urlSaga}}">
            <u>Miscelaneos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayMiscelaneos">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/noticias-saga/{{saga.urlSaga}}">
            <u>Miscelaneos</u>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>