<div class="dark-wrapper">
  <div class="container  lineafina">
    <div class="col-md-12" style="margin-bottom:0px">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/saga/{{saga.urlSaga}}" routerLinkActive="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <u>Saga</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="hayAnalisis">
          <a routerLinkActive="active" routerLink="/analisis/{{urlAnalisis}}" [class.active]="isActive(['analisis', urlAnalisis])">
            <u>Análisis</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numNoticias == 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/{{urlNoticia}}">
            <u>Noticias</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numNoticias > 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/noticias-saga/{{saga.urlSaga}}">
            <u>Noticias</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numMiscelaneos == 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/{{urlMiscelaneo}}">
            <u>Miscelaneos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numMiscelaneos > 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/miscelaneos-saga/{{saga.urlSaga}}">
            <u>Miscelaneos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numVideos == 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/{{urlVideo}}">
            <u>Vídeos</u>
          </a>
        </li>
        <li class="nav-item" *ngIf="numVideos > 1">
          <a class="nav-link link-noticia" routerLinkActive="active" routerLink="/videos-saga/{{saga.urlSaga}}">
            <u>Vídeos</u>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>