.hidden {
  display: none;
}

.page-title span {
  color: white;
}

h1.post-title,
h2.post-title {
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0px;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #2B2B2B;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: 'Playfair Display';
  text-transform: none;
}

h1.post-title {
  margin-top: 40px;
}

.etiquetaLibro {
  width: fit-content;
  position: absolute;
  padding: 1px 10px;
  margin-top: 10px;
  background-color: #367af9;
  color: white;
  left: -50px;
}

.titulo_original {
  display: inline;
  font-style: italic;
  color: #9e9e9e;
  letter-spacing: 0px;
}

.autor_libro {
  font-family: 'Playfair';
  font-size: 20px;
  font-style: italic;
  color: #9e9e9e;
}

.block {
  border: 1px solid #dbae29;
  text-align: center;
  vertical-align: middle;
}



.datos {
  font-size: 13px;
  margin-right: 10px;
}

.editorial {
  display: inline;
}

.anoEdicion {
  display: inline;
}

.anoPublicacion {
  display: inline;
}

.numPaginas {
  display: inline;
}

.amazon.abajo {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.amazon {
  text-align: right;
}

.amazon img {
  width: 96px;
  margin-top: -1px;
}

.amazon img,
.amazon span {
  display: block;
  float: left;
}

.btnComprarAmazon {
  background: #231F20;
  padding: 8px 25px;
  margin-right: 10px;
  color: #FFF;
  border-radius: 6px;
}

.btnComprarAmazon:hover {
  background: #DBAE27;
}

.bloqueRedes {
  margin-top: 40px;
  text-align: center;
}

.post__share a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  line-height: 1;
  margin-bottom: 3px;
  font-size: 14px;
  font-size: 0.875em;
}

.post__share a.facebook {
  background-color: #3B5998;
}

.post__share a.twitter {
  background-color: #55ACEE;
}

.post__share a.google-plus {
  background-color: #E02F2F;
}

.widget-title,
.section-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
}

.widget-title {
  margin-bottom: 18px;
  font-size: 18px;
}

.divider_line1 {
  border-color: #EFC66E;
  border-style: solid;
  width: 25px;
  margin-left: 210px;
  border-width: 2px;
}

.blog-content h3{
  font-size: 30px;
}

h1.text-center {
  margin-bottom: 0px;
}
