<div class="container inner">
    <div class="row">


          <div class="col-sm-4">
        <div class="widget">
          <h3 class="widget-title section-title">PONTE EN CONTACTO </h3>
          <address>
          <strong>Somos Momoko </strong><br>
          Una web de noticias y análisis editorial de apasionados a la lectura. Como tú, como yo. ¡Descubre aquí tu próxima obra favorita! <br>


          <abbr title="Email">E:</abbr> <a href="mailto:info@momoko.es">info@momoko.es</a>
          </address>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">Síguenos en nuestras redes</h3>
          <ul class="social">
            <li> <a href="https://www.facebook.com/Momoko.blog/"><i class="ion-social-facebook"></i></a> </li>
            <li> <a href="https://twitter.com/momoko_blog"><i class="ion-social-twitter"></i></a> </li>
            <li> <a href="https://www.instagram.com/momoko_blog/"><i class="ion-social-instagram"></i></a> </li>
            <li> <a href="https://es.pinterest.com/momoko_blog/"><i class="ion-social-pinterest"></i></a> </li>
            <li> <a href="https://www.youtube.com/Momoko_blog"><i class="ion-social-youtube"></i></a> </li>
          </ul>
        </div>
        <!-- /.widget -->

      </div>
      <!-- /column -->




      <div class="col-sm-4">
        <div class="widget">



          <h3 class="widget-title section-title">Recent Tags</h3>
          <ul class="tag-list">
            <li> <a href="#" class="btn">Blog</a> </li>
            <li> <a href="#" class="btn">Photography</a> </li>
            <li> <a href="#" class="btn">Illustation</a> </li>
            <li> <a href="#" class="btn">Fun</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">Top Categories</h3>
          <ul class="circled">
            <li> <a href="#">Lifestyle (21)</a> </li>
            <li> <a href="#">Photography (19)</a> </li>
            <li> <a href="#">Journal (16)</a> </li>
            <li> <a href="#">Works (7)</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->



      <div class="col-sm-4">
        <div class="widget">
          <h3 class="widget-title section-title">COLABORA CON MOMOKO </h3>
          <figure> <img src="style/images/art/about.jpg" alt=""> </figure>
          <div class="divide10"></div>
          <p>¿Eres una editorial o un autor y quieres que hagamos una reseña de tu libro? ¿Eres redactor de contenidos y te apetece escribir en Momoko? ¡Ponte en contacto! <a href="MAILTO:info@momoko.es">info@momoko.es </a> </p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- .container -->

  <div class="sub-footer">
    <div class="container inner">
      <p class="text-center">© Momoko. Todos los derechos reservados. Diseño web  <a href="http://rebecaismandarina.com">Rebecaismandarina</a></p>
    </div>
    <!-- .container -->
  </div>
  <!-- .sub-footer -->
