<div class="row no-gutter">
  <div id="instafeed" class="items row row-offset-0"></div>
</div>

<!-- /.content-wrapper -->
<footer class="wrapper">
  <div class="container inner footerStyles">
    <div class="row">
      <div class="col-sm-4" style="padding-right: 35px;">
        <div class="widget">
          <h3 class="widget-title section-title">PONTE EN CONTACTO </h3>

          <p>
            <b> Somos Momoko </b>
          </p>
          <p> El mejor blog de literatura y análisis editorial creado por y para los apasionados a la lectura. Como tú o como
            yo. Estamos preparando grandes novedades para la página. ¡No te pierdas nada!

        </div>


        <div class="widget">

          <h3 class="widget-title section-title">SÍGUENOS EN NUESTRAS REDES</h3>

          <ul class="social">

            <li>
              <a href="https://www.facebook.com/Momoko.blog/" target="_blank">
                <i class="ion-social-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/momoko_blog" target="_blank">
                <i class="ion-social-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/momoko_blog/" target="_blank">
                <i class="ion-social-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/momoko_blog" target="_blank">
                <i class="ion-social-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.es/momoko_blog/" target="_blank">
                <i class="ion-social-pinterest"></i>
              </a>
            </li>
          </ul>


        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-sm-5 NEWSLETTER">




        <div class="widget">
          <h3 class="widget-title section-title">SUSCRÍBETE A NUESTRA NEWSLETTER </h3>


          <div class="">


            <p> Introduce tu correo para recibir nuestras novedades una vez por semana. ¡Tranquilo! No te enviaremos spam ;)
              </p>

            <div class="form-field">
              <label>
                <input class="emailsuscripcion" id="emailsuscripcion" type="text" name="name" placeholder="Tu email" required="required">
              </label>
            </div>

            <a (click)="suscribirse()" class="btn suscribirse">Suscribirse </a>



          </div>
          <div class="alert alert-success" [hidden]="!mostrarMensaje">
              <strong>Te has suscrito correctamente</strong>
            </div>
        </div>

      </div>
      <!-- /column -->

      <div class="col-sm-3" style="padding-left: 35px;">
        <div class="widget">
          <h3 class="widget-title section-title">ENLACES DE INTERÉS </h3>
          <ul class="circled">
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Aviso legal </a>
            </li>
            <li>
              <a href="#">Política de privacidad</a>
            </li>
            <li>
              <a href="#">Política de cookies </a>
            </li>

          </ul>

        </div>

      </div>
      <!-- /column -->


      <!-- /column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- .container -->

  <div class="sub-footer">
    <div class="container inner">
      <p class="text-center">© 2017 Momoko. Una creación de
        <a href="https://twitter.com/mandarina_owo" target="_blank">La Insomne </a>
      </p>
    </div>
    <!-- .container -->
  </div>
  <!-- .sub-footer -->

</footer>
<!-- /footer -->
