<footer class="inverse-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Popular Posts</h3>
          <ul class="post-list">
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="assets/style/images/art/a1.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#"><i class="ion-chatbubbles"></i> 6</a></span></div>
              </div>
            </li>
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="assets/style/images/art/a2.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#"><i class="ion-chatbubbles"></i> 5</a></span></div>
              </div>
            </li>
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="assets/style/images/art/a3.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span><span class="comments"><a href="#"><i class="ion-chatbubbles"></i> 3</a></span></div>
              </div>
            </li>
          </ul>
          <!-- /.post-list -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Recent Tags</h3>
          <ul class="tag-list">
            <li> <a href="#" class="btn">Blog</a> </li>
            <li> <a href="#" class="btn">Photography</a> </li>
            <li> <a href="#" class="btn">Illustation</a> </li>
            <li> <a href="#" class="btn">Fun</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">Top Categories</h3>
          <ul class="circled">
            <li> <a href="#">Lifestyle (21)</a> </li>
            <li> <a href="#">Photography (19)</a> </li>
            <li> <a href="#">Journal (16)</a> </li>
            <li> <a href="#">Works (7)</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Get in Touch</h3>
          <address>
            <strong>Juno, Inc.</strong><br> Moon Street Light Avenue, 14/05 <br> Jupiter, JP 80630<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
            <abbr title="Email">E:</abbr> <a href="mailto:#">first.last@example.com</a>
          </address>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">Elsewhere</h3>
          <ul class="social">
            <li> <a href="#"><i class="ion-social-rss"></i></a> </li>
            <li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
            <li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
            <li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
            <li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
            <li> <a href="#"><i class="ion-social-whatsapp"></i></a> </li>
          </ul>
        </div>
        <!-- /.widget -->

      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">About Me</h3>
          <figure> <img src="assets/style/images/art/about.jpg" alt="" /> </figure>
          <div class="divide10"></div>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia.</p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- .container -->

  <div class="sub-footer">
    <div class="container inner">
      <p class="text-center">© 2016 Juno. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a></p>
    </div>
    <!-- .container -->
  </div>
  <!-- .sub-footer -->

</footer>
