.NEWSLETTER {

      background-image: url(/assets/style/images/andre-benz-250740.jpg);
      background-repeat: no-repeat;
      padding: 60px;
      font-size: 15px;
  }

  .footerStyles{
    font-size: 15px;
  }


  .NEWSLETTER h3 {

      color: white;
      text-align: center;
      padding-top: 20px;
      font-size: 21px;
  }

  .NEWSLETTER p {

      color: white;
      text-align: center;
      font-weight: normal;
      font-size: 15px;

  }

  .NEWSLETTER .form-field input {

      background: white;
      text-align: center;
  }

  .NEWSLETTER .btn {
      width: 100%;
      margin-top: -5px;

  }

  .suscribirse{
    background: black;
  }
