.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #f3f4f5;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #404040;
    z-index: 1009;
  }
  .nav-side-menu .brand {
    background-color: #ffffff;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .nav-side-menu .brand img{
    width: 100%;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    color: #dbae27;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #f3f4f5;
    border: none;
    line-height: 31px;
    margin-left: 0px;
  }

  .nav-side-menu ul .sub-menu li:nth-child(even),
  .nav-side-menu li .sub-menu li:nth-child(even) {
    background-color: #ffffff;
  }

  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #f3f4f5;
  }

  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #404040;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
}
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #f3f4f5;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (max-width: 1280px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left;
      font-size: 22px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 1280px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  body {
    margin: 0px;
    padding: 0px;
  }

  img.iconosmenu {
    margin-left: 20px;
}

.menuMobile{
    display:none;
}

@media(max-width: 1280px) {
    .menuMobile{
        display:block;
        position: fixed;
        top: 0px;
        overflow: hidden;
        z-index:2000;
    }
}
  