<div class="container">
  <div *ngIf="libro" class="form-container">
    <div class="row">
      <div class="col-sm-8">
        <div class="vanilla vanilla-form" novalidate="novalidate">
          <div class="row">
            <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> Título del libro: </h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                  <input type="text" [(ngModel)]="libro.titulo" (ngModelChange)="cambioTitulo($event)" placeholder="Escribe aquí el título del libro"
                  />
                </label>
              </div>
              <!--/.form-field -->
            </div>
          </div>
          <div class="row">
            <div class="divide10"></div>
          </div>
          <div class="row">
            <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> Título original: </h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                  <input type="text" [(ngModel)]="libro.tituloOriginal" placeholder="Escribe aquí el título original del libro" />
                </label>
              </div>
              <!--/.form-field -->
            </div>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">
            <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> URL: </h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                  <input type="text" [(ngModel)]="libro.urlLibro" (ngModelChange)="urlChange($event)" placeholder="Escribe aqui la url del libro"
                  />
                </label>
              </div>
              <!--/.form-field -->
            </div>
          </div>
          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">
            <div class="col-sm-12 lp10">
              <h4> Autor de la obra
                <a (click)="crearAutor()">
                  <i class="ion-plus"></i>
                </a>
              </h4>
            </div>
            <div *ngFor="let autor of libro.autores; let i = index">
              <div class="col-sm-12 lp10">
                <div class="form-field">
                  <label>
                    <ng2-completer placeholder="Escribe aquí al autor de la obra" [(ngModel)]="autor.nombre" [datasource]="nombresAutores" [minSearchLength]="3"></ng2-completer>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="divide10"></div>
          </div>

          <div class="row">

            <div class="col-sm-3 lp10">
              <h4> Editorial </h4>
            </div>
            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <ng2-completer placeholder="Nombre de la editorial" [(ngModel)]="libro.editorial.nombreEditorial" [datasource]="nombresEditoriales"
                    [minSearchLength]="3"></ng2-completer>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">
            <div class="col-sm-3 lp10">
              <h4> Año de edición </h4>
            </div>

            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <input type="number" [(ngModel)]="libro.anoEdicion" placeholder="Año de edición">
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">
            <div class="col-sm-3 lp10">
              <h4> Año de publicación </h4>
            </div>

            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <input type="number" [(ngModel)]="libro.anoPublicacion" placeholder="Año de publicación">
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">

            <div class="col-sm-3 lp10">
              <h4> Número de páginas </h4>
            </div>

            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <input type="number" [(ngModel)]="libro.numeroPaginas" placeholder="Número de páginas">
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="row">

            <div class="col-sm-3 lp10">
              <h4> Género de la obra </h4>
            </div>

            <div class="col-sm-9 lp10">

              <p-multiSelect defaultLabel="Escoge los géneros" (onChange)="onChange($event)" [options]="generos" [(ngModel)]="selectedGeneros"></p-multiSelect>

              <!--/.form-field -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 lp10">
              <p-accordion>
                <p-accordionTab header="Filtros">
                  <div class="col-sm-4 lp20" *ngFor="let filter of libro.filters">
                    <div *ngIf="!filter.referencedProperty">

                      <h4> {{filter.nameFilter}}: </h4>

                      <div class="lp40" *ngFor="let possibleValue of filter.possibleValues">
                        <!-- <p-checkbox name="{{filter.nameFilter}}" value="{{possibleValue.value}}" [(ngModel)]="filter.value" label="{{possibleValue.name}}"></p-checkbox> -->
                        <p-radioButton name="{{filter.nameFilter}}" value="{{possibleValue.value}}" label="{{possibleValue.name}}" [(ngModel)]="filter.value"></p-radioButton>
                      </div>
                      <!--/.form-field -->

                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>



          <div class="row">
            <div class="divide20"></div>
          </div>

          <div class="row">

            <div class="col-md-12">

              <h4> Breve resumen de la obra </h4>
              <textarea name="resumen" [(ngModel)]="libro.resumen" placeholder="Type your message here..."></textarea>


              <h4> Cita identificativa </h4>
              <textarea name="cita" [(ngModel)]="libro.citaLibro" placeholder="Type your message here..."></textarea>


              <div [hidden]="!esLibroNuevo">
                <input type="submit" class="btn btn-forest" value="Crear libro" (click)="guardarLibro()" data-error="Fix errors" data-processing="Sending..."
                  data-success="Thank you!">
              </div>
              <div [hidden]="esLibroNuevo">
                <input type="submit" class="btn btn-forest" value="Actualizar ficha" (click)="guardarLibro()" data-error="Fix errors" data-processing="Sending..."
                  data-success="Thank you!">
              </div>
              <footer class="notification-box"></footer>
            </div>
          </div>

        </div>
      </div>

      <aside class="col-sm-4 sidebar">
        <div class="sidebox widget">

          <img *ngIf="libro.urlImagen" src="{{libro.urlImagen}}" alt="Portada libro - {{libro.titulo}}" />

          <div class="row">
            <div class="divide10"></div>
          </div>
          <h2 class="section-title widget-title margen_superior">Imagen del libro </h2>

          <p-fileUpload name="myfile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChange($event)" chooseLabel="Subir imagen"
            auto="auto" maxFileSize="1000000">

            <ng-template pTemplate="content">
              <div>Arrastra aquí la imagen que quieras subir.</div>
            </ng-template>
          </p-fileUpload>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <!-- <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->



          <h4 class="margen_superior"> Enlace Amazon </h4>

          <div class="form-field">
            <label>
              <input type="email" [(ngModel)]="libro.enlaceAmazon" placeholder="Enlace de amazon">
            </label>
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Nota (0-100): </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="number" [(ngModel)]="libro.notaMomoko" placeholder="Nota" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="row">
            <div class="divide10"></div>
          </div>

          <!-- <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Comentario para nota: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <textarea type="text" [(ngModel)]="libro.comentarioNotaMomoko" placeholder="(Opcional) Algún comentario sobre la nota"></textarea>
              </label>
            </div>
            <!--/.form-field -->
          <!--</div> -->

        </div>
        <!-- /.widget -->

      </aside>
    </div>
  </div>
</div>