<div class="imageHeaderContainer">
    <img src="https://momoko.es/images/fijas/colabora-03.png">
  </div>
  <h3><b>Que significa ser redactor en Momoko</b></h3>
  <div class="categoryDescription">
    Nuestros redactores publican análisis, posts y<br />
    #momokoreseñas oficiales de Momoko. Son<br />
    colaboradores que escriben cuando pueden y<br />
    sobre lo que les interese del mundo literario. Los<br />
    redactores firman con su nombre sus propios posts<br />
    y aparecen resaltados en nuestras redes.
  </div>