<div class="light-wrapper">

    <div class="parallax page-title inverse-wrapper parallax2" [ngStyle]="{background: 'url(' + genero.imagenCabeceraGenero + ')'}">
        <div class="container inner">
            <h1 class="text-center">Género: {{genero.nombre}} </h1>
        </div>
        <!-- /.container -->

    </div>
    <div class="container inner tp0">
        <div class="blog row">
            <div class="col-sm-8 blog-content list-view">
                <div class="product-layout-view active row leftBlock">

                    <a [class.active]="enLista" (click)="activarEnLista(true)" title="List Layout">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                    </a>
                    <a [class.active]="!enLista" (click)="activarEnLista(false)" title="Grid Layout">
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </a>

                </div>

                <div class="product-layout-view active row rightBlock">
                    <div class="selectOrderBlock">
                        <select name="orderby" class="orderby" [(ngModel)]="orderby" (change)="cambiarOrden()">
                            <option value="date" selected="selected">Ordenado por fecha</option>
                            <option value="score">Ordenado por nota</option>
                        </select>
                    </div>


                </div>
                <div class="clearfix"></div>
                <app-genero-vista-grid *ngIf="!enLista" [genero]="genero" [librosGenero]="librosGenero" [numbers]="numbers" [orderby]="orderby"></app-genero-vista-grid>
                <app-genero-vista-lista *ngIf="enLista" [genero]="genero" [librosGenero]="librosGenero" [numbers]="numbers" [orderby]="orderby"></app-genero-vista-lista>
                <!-- /.blog-content -->
            </div>
            <div style="margin-top: 20px;">
                <app-sidebar [libros]="librosParecidos" [tituloSeccionLibros]="tituloSeccionLibros" [filters]="filters" (onUpdateFilters)="updateFilters($event)"></app-sidebar>
            </div>
        </div>
        <!-- /.blog -->

    </div>
</div>