.product-layout-view a {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-top: 40px;
  border: 3px solid #BDBDBD;
  line-height: .5;
  margin-right: 10px;
  border-radius: 10px;
  color: #BDBDBD;
}

.product-layout-view a.active {
  color: #e3b015;
  border: 3px solid #e3b015;
}

.product-layout-view a:hover {
  border: 3px solid #e3b015;
  color: #e3b015;
}

.product-layout-view.row {
  text-align: left;
  float: left;
}

.product-layout-view.active.row.rightBlock {
  text-align: right;
  float: right;
}

.selectOrderBlock {
  margin-top: 40px;
}

select {
  padding: 8px 20px;
  border: 3px solid #BDBDBD;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 60px;
  background-image: url(/assets/img/select-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  max-width: 100%;
}
