<ngx-json-ld [json]="schema"></ngx-json-ld>
<!-- <app-menu-interno-libro [libro]="entrada.librosEntrada[0]" [datosEntrada]="entrada.datosEntrada" [parentType]="'ANALISIS'"></app-menu-interno-libro>-->
<div class="light-wrapper">
  <div class="container marginBottom50">
    
    <entry-header [entry]="entrada" [book]="entrada.librosEntrada[0]"> </entry-header>
    <div class="row">
      <div class="contenidoEntrada">
        <div [ngClass]="(entrada.tieneGaleria)?'col-md-12':'col-md-8'">

          <entry-content [entry]="entrada"> </entry-content>
        </div>

        <entry-sidebar [entry]="entrada"> </entry-sidebar>
        <div class="col-sm-12">
          <entry-footer [entry]="entrada"> </entry-footer>

        </div>
      </div>

    </div>

  </entry-header>
</div>