.container {
  .categoryTitle {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: gray;
  }

  .tituloEntrada h1{
    font-size: 42px;
    line-height: 50px;
    margin: 30px 0 20px;
  }
}

.bloqueInfoLibro {
  min-height: 432px;
}

.bloqueNota {
  padding: 10px;
  border-bottom: 1px dashed #e2e3e5;
}

.bloqueDatos {
  padding: 15px 25px 5px;
  font-size: 15px;
}

span.info {
  font-style: normal;
  font-weight: 500;
}

.contenidoEntrada {
  margin-top: 30px;
  padding: 20px 40px;

  h1 {
    font-size: 40px;
    line-height: 46px;
  }
}

.infoEntrada {
  margin-bottom: 30px;
}

span {

  &.generosText,
  &.editorialText {
    margin-left: 20px;
  }
}

.sidebox .section-title {
  margin-top: 50px;
}

.lineaHorizontalCorta {
  width: 56px;
  margin-right: 10px;
  margin-top: 12px;
  float: left;
  border: 1px solid #d0d0d0;
}

.etiquetasText {
  color: #d0d0d0;
  font-size: 13px;
}

.generosLibro {
  text-align: center;
  margin: 0;
  font-size: 36px;
  line-height: 50px;
  font-weight: normal;
  font-family: 'Vidaloka', serif;
  text-transform: none;
  color: #fff;
}

.amazon {
  img {
    width: 96px;
    margin-top: -1px;
    display: block;
    float: left;
    margin-left: 10px;
  }

  span {
    display: block;
    float: left;
    margin-left: 10px;
  }
}

.btnComprarAmazon {
  background: #231f20;
  padding: 8px 25px;
  margin-right: 10px;
  color: #fff;
  border-radius: 6px;

  &:hover {
    background: #dbae27;
  }
}

hr {
  padding-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .contenidoEntrada {
    margin-top: 30px;
    padding: 20px 15px;
  }
}