.bloqueInfoLibro{
    min-height: 432px;
  }
  
  .bloqueNota{
    padding: 10px;
    border-bottom: 1px dashed #E2E3E5;
  }
  
  .bloqueDatos{
    padding: 15px 25px 5px;
    font-size: 15px;
  }
  
  span.info {
    font-style: normal;
    font-weight: 500;
  }
  
  .contenidoEntrada {
    margin-top: 30px;
    padding: 20px 40px;
  }
  
  .contenidoEntrada h1{
    font-size: 40px;
    line-height: 46px;
  }
  
  .infoEntrada {
    margin-bottom: 30px;
  }
  
  span.generosText {
    margin-left: 20px;
  }
  
  .sidebox .section-title{
    margin-top: 50px;
  }
  
  .lineaHorizontalCorta {
    width: 56px;
    margin-right: 10px;
    margin-top: 12px;
    float: left;
    border: 1px solid #d0d0d0;
  }
  
  .etiquetasText{
    color: #d0d0d0;
    font-size: 13px;
  }
  
  .amazon.abajo {
    position: absolute;
    bottom: 90px;
    right: 0;
  }
  
  .amazon {
    text-align: right;
  }
  
  .amazon img {
    width: 96px;
    margin-top: -1px;
  }
  
  .amazon img,
  .amazon span {
    display: block;
    float: left;
    margin-left: 10px;
  }
  
  .btnComprarAmazon {
    background: #231F20;
    padding: 8px 25px;
    margin-right: 10px;
    color: #FFF;
    border-radius: 6px;
  }
  
  .btnComprarAmazon:hover {
    background: #DBAE27;
  }
  