<div class="light-wrapper">
    <div class="swiper-container-wrapper image-blog-wide-wrapper blog-carousel-wrapper blog-carousel-wrap">
        <div class="swiper-container image-blog-wide blog-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let entradaSimple of entradas1a5">
                    <figure>
                        <div class="caption">
                            <div class="info">
                                <div class="text">
                                    <app-tag-categoria [urlEntrada]="obtenerUrlEntradaSimple(entradaSimple)" [nombreCategoria]="entradaSimple.categoria"></app-tag-categoria>

                                    <h2 class="post-title text-center">
                                        <a *ngIf="!entradaSimple.urlLibro" routerLink="/{{entradaSimple.urlEntrada}}">{{entradaSimple.tituloEntrada}} </a>
                                        <a *ngIf="entradaSimple.urlLibro" routerLink="{{entradaSimple.bloque}}/{{entradaSimple.urlEntrada}}">{{entradaSimple.tituloEntrada}} </a>
                                    </h2>
                                    <div class="meta text-center">
                                        <span class="date">{{entradaSimple.fechaAlta | date:'dd MMM yyyy'}}</span>
                                        <span class="author">Por
                                            <a routerLink="/redactor/{{entradaSimple.urlEditor}}">{{entradaSimple.nombreAutor}}</a>
                                        </span>
                                        <span class="comments">
                                            <a *ngIf="!entradaSimple.urlLibro" routerLink="/{{entradaSimple.urlEntrada}}">{{entradaSimple.numeroComentarios}} Comentarios</a>
                                            <a *ngIf="entradaSimple.urlLibro" routerLink="{{entradaSimple.bloque}}/{{entradaSimple.urlEntrada}}">{{entradaSimple.numeroComentarios}} Comentarios </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{{entradaSimple.imagenEntrada}}" alt="Imagen Destacada - {{entradaSimple.tituloEntrada}} " /> </figure>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next btn"></div>
        <div class="swiper-button-prev btn"></div>
    </div>
    <div class="container inner nopaddingbottom">
        <div class="blog row">
            <div class="col-sm-8">
                <div class="blog-content classic-view">
                    <div class="blog-posts">
                        <app-anadir-entrada></app-anadir-entrada>
                        <app-anadir-entrada2></app-anadir-entrada2>
                        <app-anadir-entrada3></app-anadir-entrada3>
                    </div>
                    <!-- /.blog-posts -->

                </div>
                <!-- /.classic-view -->


                <!-- BARRA LATERAL -->

                <!-- /.page-navi -->
                <div class="clearfix"></div>
            </div>
            <!-- /.blog-content -->

            <app-sidebar [libros]="librosMasLeidosMes" [tituloSeccionLibros]="tituloSeccionLibros"></app-sidebar>



        </div>
        <!-- /.blog -->

    </div>
</div>
<app-fila3entradasfondonegro></app-fila3entradasfondonegro>
<app-libros-horizontal [libros]="librosUltimosAnalisis" [titulo]="tituloUltimosAnalisis"></app-libros-horizontal>
<section data-kc-equalheight="true" data-kc-equalheight-align="middle" class="kc-elm kc-css-313498 kc_row fen-bg-overlay hidden-xs">
    <div class="kc-row-container  kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-css-201147 col-md-2 col-xs-12 vertical">
                <div class="kc-col-container horizontal">
                    <div class="kc-elm kc-css-97853 kc-icon-wrapper vertical">
                        <i class="budicon-book-5"></i>
                    </div>
                </div>
            </div>
            <div class="kc-elm kc-css-24122 col-md-8 col-xs-12 kc_column kc_col-sm-10">
                <div class="kc-col-container">
                    <div class="kc-elm kc-css-435038 kc_text_block">
                        <p>Alabastro, adorado monstruo, sensato demente, el orogen más poderoso de toda la Quietud e inminente aperitivo de Comepiedras, te mira. Lo hace con la intensidad de siempre, sientes su decisión, lo que lo convierte en la fuerza de la naturaleza que es. </p>
                        <p>El portal de los obeliscos - N.K. Jemisin</p>
                        <div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="dark-wrapper hidden-xs">
    <div class="container inner">
        <div class="grid-view">
            <div class="col-sm-12 col-md-9 marginTop40">
                <h3> Último cómic analizado </h3>
                <div class="divider_inner divider_line1" style="border-color:#EFC66E;border-style: solid;width: 50px;border-width: 2px;"></div>
                <h2 class="separatop"> {{ultimoComicAnalizado.entrada.tituloEntrada}}</h2>
                <p [innerHTML]="ultimoComicAnalizado.entrada.resumen"> </p>

                <a routerLink="/opiniones/{{ultimoComicAnalizado.entrada.urlEntrada}}" class="btn">Ver cómic </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-3" style="margin-top:-70px">
            <app-libro3d [anchura]="292" [anchuraPortada]="292" [alturaPortada]="400" [portada]="ultimoComicAnalizado.libro.portada"></app-libro3d>
        </div>
    </div>
</div>
<app-videos-horizontal [videos]="ultimos3Videos"></app-videos-horizontal>
<app-mobile-sidebar></app-mobile-sidebar>