h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.imageHeaderContainer {
    margin-top: 48px;
    margin-bottom: 20px;
}

.categoryDescription {
    line-height: 18px;
    font-size: 14px;
    color: #292929;
    min-height: 130px;
}