<div class="returnArrowLeft"><a (click)="volver()"><i class="fa fa-arrow-left"></i></a></div>
<div class="imageHeaderContainer">
    <img src="https://momoko.es/images/fijas/colabora-04.png">
  </div>
  <h3><b>Eres una editorial</b></h3>
  <div class="categoryDescription">
    ¡Muchas gracias por tener en cuenta a Momoko<br />
    para colaborar con nosotros! Puedes enviarnos<br />
    notas de prensa para publicar o ejemplares para<br />
    reseñar. Si estás intentando en introducir publicidad<br />
    en Momoko, no dudes en avisarnos directamnete <br />
    a través del formulario o en info@momoko.es y te <br/>
    daremos información de nuestras visitas y tarifas.
  </div>