<p-growl [(value)]="msgs" sticky="true"></p-growl>
<div *ngIf="saga" class="form-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="vanilla vanilla-form" novalidate="novalidate">
          <div class="row">
            <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> Nombre de la saga: </h4>
              </div>
            </div>
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                  <input type="text" [(ngModel)]="saga.nombreSaga" (ngModelChange)="cambioNombre($event)" placeholder="Escribe aquí el name de la saga"
                  />
                </label>
              </div>
              <!--/.form-field -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> URL: </h4>
              </div>
            </div>
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                  <input type="text" [(ngModel)]="saga.urlSaga" (ngModelChange)="urlChange($event)" placeholder="Escribe aqui la url de la saga"
                  />
                </label>
              </div>
              <!--/.form-field -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 lp10">
              <h4> Número de libros </h4>
            </div>

            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <input type="number" [(ngModel)]="saga.numeroVolumenes" placeholder="Número de libros">
                </label>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">

              <h4> Breve resumen de la obra </h4>
              <textarea name="resumen" [(ngModel)]="saga.resumen" placeholder="Type your message here..."></textarea>



            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 lp10">
              <h4> ¿Está terminada? </h4>
            </div>

            <div class="col-sm-9 lp10">
              <div class="form-field">
                <label>
                  <p-checkbox binary="true" [(ngModel)]="saga.estaTerminada"></p-checkbox>
                </label>
              </div>
            </div>

          </div>
          <div class="row">
              <div class="col-sm-3 lp10">
                <h4> ¿Domina a los libros? </h4>
              </div>

              <div class="col-sm-9 lp10">
                <div class="form-field">
                  <label>
                    <p-checkbox binary="true" [(ngModel)]="saga.dominaLibros"></p-checkbox>
                  </label>
                </div>
              </div>

            </div>
          <div class="row marginTop10">
              <div class="col-sm-3 lp10">
                <h4> Tipo Saga </h4>
              </div>

              <div class="col-sm-9 lp10">
                  <div class="form-field">
                      <p-dropdown [options]="tiposSaga" [(ngModel)]="saga.tipoSaga" [style]="{'width':'400px'}"></p-dropdown>
                    </div>
              </div>

            </div>
      </div>
    </div>

    <aside class="col-sm-4 sidebar">
      <div class="sidebox widget">

        <img src="{{saga.imagenSaga}}" alt="Imagen saga - {{saga.nombreSaga}}" />

        <div class="divide10"></div>
        <h2 class="section-title widget-title margen_superior">Imagen de la saga</h2>

        <p-fileUpload name="myfile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChange($event)" chooseLabel="Subir imagen"
          auto="auto" maxFileSize="1000000">

          <ng-template pTemplate="content">
            <div>Arrastra aquí la imagen que quieras subir.</div>
          </ng-template>
        </p-fileUpload>

        <div class="divide10"></div>

        <!-- <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"> -->

        <div class="divide10"></div>

        <div class="col-sm-12 rp10">
          <div class="form-field">
            <h4> Nota: </h4>
          </div>
        </div>
        <div class="col-sm-12 lp10">
          <div class="form-field">
            <label>
              <input type="number" [(ngModel)]="saga.notaSaga" placeholder="Nota" />
            </label>
          </div>
          <!--/.form-field -->
        </div>

      </div>
      <!-- /.widget -->

    </aside>
  </div>
  <div class="row marginTop30">
    <div class="col-md-12">
      <p-pickList [source]="libros" [target]="librosOrdenados" filterBy="autoresString, titulo" dragdrop="true" [responsive]="true"
        sourceHeader="Selecciona libros" targetHeader="Ordénalos" sourceFilterPlaceholder="Filtrar por autor" targetFilterPlaceholder="Filtrar por autor"
        >
        <ng-template let-libro pTemplate="item">
          <div class="ui-helper-clearfix">
            <img src="{{libro.urlImagen}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{libro.titulo}} - {{libro.autoresString}}</div>
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <div class="col-md-12 marginTop20">
      <div [hidden]="!esSagaNueva">
        <input type="submit" class="btn btn-forest" value="Crear saga" (click)="guardarSaga()" data-error="Fix errors" data-processing="Sending..."
          data-success="Thank you!">
      </div>
      <div [hidden]="esSagaNueva">
        <input type="submit" class="btn btn-forest" value="Actualizar saga" (click)="guardarSaga()" data-error="Fix errors" data-processing="Sending..."
          data-success="Thank you!">
      </div>
      <footer class="notification-box"></footer>
    </div>
  </div>
</div>
