.post__share a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    line-height: 1;
    margin-bottom: 3px;
    font-size: 14px;
    font-size: 0.875em;
    &.facebook {
      background-color: #3B5998;
    }
    &.twitter {
      background-color: #55ACEE;
    }
    &.instagram {
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    &.youtube {
      background-color: #C4302b;
    }
    &.paginaweb {
      background-color: #34a853;
    }
    &.google-plus {
      background-color: #E02F2F;
    }
  }
  
  .contenedorAvatar {
    text-align: center;
    img {
      border-radius: 50%;
      -moz-transition: all .51s;
      -o-transition: all .51s;
      -webkit-transition: all .51s;
      transition: all .51s;
      &:hover {
        border-radius: 0%;
      }
    }
  }
  
  .enlaceRedes {
    float: left;
    a {
      margin-right: 15px;
    }
  }
  
  .iconoSocial a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 2px 3px;
    &:hover {
      padding: -10px 3px;
    }
  }
  
  .descripcionAutor {
    color: #686868;
  }
  
  .marginTop65 {
    margin-top: 65px;
  }
  
  .iconoSocial a:hover {
    margin-top: -10px;
  }

  span.webspan {
    font-size: 14px;
}