<div class="parallax page-title inverse-wrapper parallax2" [ngStyle]="{background: 'url(' + librosSaga[0].generos[0].imagenCabeceraGenero + ')'}">
    <div class="container inner">
        <h1 class="text-center">
            <span *ngFor="let genero of librosSaga[0].generos, let last = last;">{{genero.nombre}}
                <span [hidden]="last">, </span>
            </span>
        </h1>
    </div>
</div>
<app-menu-interno-saga [datosEntrada]="saga.entradasSaga" [saga]="saga" [parentType]="'FICHA'"></app-menu-interno-saga>
<div class="container inner tp0">
    
    <app-descriptor-saga [saga]="saga" [urlAnalisis]="urlAnalisis"></app-descriptor-saga>

    <div class="col-sm-1"> </div>
    <div class="col-sm-7">
        <header class="section-header section-header--center">
            <h2 class="section-title">
                Libros de la saga </h2>
        </header>
        <div class="row">

            <div class="col-sm-4 separatop35" *ngFor="let libro of librosSaga, let i = index; let first = first">
                <div class="clearfix" *ngIf="i % 3 == 0 && !first"></div>
                <div class="contenedorImagenes">
                    <a routerLink="/libro/{{libro.urlLibro}}">
                        <img src="{{libro.urlImagen}}" [class]="existeAnalisis(libro)" alt="Portada libro - {{libro.titulo}} ">
                    </a>
                </div>
                <h3 class="titulo_libro"> {{libro.titulo}} </h3>
                <span class="librosaga"> {{mapaOrdinales[i]}} volumen
                    <span *ngIf="libro.anoPublicacion">- {{libro.anoPublicacion}} </span>
                </span>
            </div>
        </div>

        <div class="divide60"></div>

        <div class="blog row">

            <div class="col-sm-8 blog-content list-view">


                <!-- /.blog-content -->
            </div>
            <!-- /.blog -->

        </div>
        <!-- /.container -->
    </div>

    <div class="blog row">
        <div class="col-sm-8">
            <div class="blog-content classic-view" *ngIf="entradas.length > 0">
                <header class="section-header section-header--left">
                    <h2 class="section-title">
                        Últimas actualizaciones de esta saga </h2>
                </header>

                <div class="divider_inner divider_line1"></div>
                <div class="row marginTop30" *ngFor="let entrada of entradas">
                    <div class="col-md-5">
                        <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">
                            <img src="{{entrada.imagenEntrada}}" alt="Imagen Destacada - {{entrada.tituloEntrada}} ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="post-title">
                            <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">{{entrada.tituloEntrada}} </a>
                        </h3>
                        <div class="meta">
                            <span class="date">{{entrada.fechaAlta | date:'dd MMM yyyy'}}</span>
                            <span class="author">Por
                                <a routerLink="/redactor/{{entrada.urlEditor}}">{{entrada.nombreAutor}}</a>
                            </span>
                            <span class="comments">
                                <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">{{entrada.numeroComentarios}} Comentarios</a>
                            </span>
                        </div>
                        <div class="contenidoResumen" [innerHTML]="entrada.fraseDescriptiva">
                        </div>
                        <div class="">
                            <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}" class="more">Sigue leyendo </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-content classic-view" *ngIf="entradasLibros.length > 0">
                <header class="section-header section-header--left">
                    <h2 class="section-title">
                        Últimas actualizaciones de los libros de esta saga </h2>
                </header>

                <div class="divider_inner divider_line1"></div>
                <div class="row marginTop30" *ngFor="let entrada of entradasLibros">
                    <div class="col-md-5">
                        <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">
                            <img src="{{entrada.imagenEntrada}}" alt="Imagen Destacada - {{entrada.tituloEntrada}} ">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3 class="post-title">
                            <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">{{entrada.tituloEntrada}} </a>
                        </h3>
                        <div class="meta">
                            <span class="date">{{entrada.fechaAlta | date:'dd MMM yyyy'}}</span>
                            <span class="author">Por
                                <a routerLink="/redactor/{{entrada.urlEditor}}">{{entrada.nombreAutor}}</a>
                            </span>
                            <span class="comments">
                                <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}">{{entrada.numeroComentarios}} Comentarios</a>
                            </span>
                        </div>
                        <div class="contenidoResumen" [innerHTML]="entrada.fraseDescriptiva">
                        </div>
                        <div class="">
                            <a routerLink="/{{entrada.bloque}}/{{entrada.urlEntrada}}" class="more">Sigue leyendo </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-sidebar></app-sidebar>
    </div>
    <!-- /.light-wrapper -->
</div>