.NEWSLETTER {
    background-image: url(/assets/style/images/andre-benz-250740.jpg);
    background-repeat: no-repeat;
    padding: 60px;
    font-size: 15px;
  }
  
  .footerStyles {
    font-size: 15px;
  }
  
  .footerList {
    list-style-type: none;
  }
  
  ul.footerList {
    padding-left: 0px;
  }
  
  .footerList a {
    color: #e3b015;
    &:hover {
      color: #007ad9;
    }
  }
  
  .NEWSLETTER {
    h3 {
      color: white;
      text-align: center;
      padding-top: 20px;
      font-size: 21px;
    }
    p {
      color: white;
      text-align: center;
      font-weight: normal;
      font-size: 15px;
    }
    .form-field input {
      background: white;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-top: -5px;
    }
  }
  
  .suscribirse {
    background: black;
  }