<div id="comments" class="text-left">
  <h3>{{entrada.numeroComentarios}} comentarios en este post </h3>
  <ol id="singlecomments" class="commentlist">
    <li *ngFor="let comentario of comentarios, let last = last;">
      <app-plantilla-comentario [comentario]="comentario" (onSelectedComentario)="seleccionarComentario($event, posicionRespuesta)"></app-plantilla-comentario>
    </li>
  </ol>
</div>
<!-- /#comments -->

<hr />
<div class="alert alert-success" role="alert" *ngIf="mostrarMensaje">
  Tu mensaje ha sido enviado correctamente.</div>
<div class="alert alert-warning" role="alert" *ngIf="mostrarError">
    Ha habido un problema al enviar el mensaje. Vuelve a intentarlo más tarde</div>
<div class="comment-form-wrapper text-left">
  <h3>¿Te gustaría compartir lo que piensas?</h3>
  <div class="comentarioAResponder" id="comments" *ngIf="comentarioSeleccionado">
    <h4>En respuesta a</h4>
    <ol class="commentlist" id="singlecomments">
      <li>
        <div class="message">
          <div class="message-inner">
            <div class="user">
              <img alt="Avatar usuario comentario" src="{{comentarioAResponder.autor.avatar}}" class="avatar" />
            </div>
            <a class="" (click)="cerrarComentario()">
              <i class="budicon-cancel-1"></i>
            </a>
            <div class="info">
              <h5>
                <a href="#">{{comentarioAResponder.autor.nombre}}</a>
              </h5>
              <div class="meta">
                <span class="date">{{comentarioAResponder.fecha | date:'dd MMM yyyy'}}</span>
              </div>
            </div>
            <div class="comentarioTexto">
              <p>{{comentarioAResponder.textoComentario}}</p>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <p>No te preocupes, no publicaremos tu correo electrónico *</p>
  <form (ngSubmit)="onPublicarComentario()" #commentForm="ngForm" class="comment-form" name="form_name" action="#" method="post">
    <div class="name-field">
      <input id="nombre" required [(ngModel)]="nuevoComentario.nombre" #nombre="ngModel" placeholder="Nombre*" type="text" name="nombre"
        title="Nombre*" />
    </div>
    <div class="email-field">
      <input id="email" required [(ngModel)]="nuevoComentario.email" #email="ngModel" placeholder="Email*" type="email" name="email"
        title="Email*" />
    </div>
    <div class="website-field">
      <input id="paginaWeb" [(ngModel)]="nuevoComentario.paginaWeb" #paginaWeb="ngModel" placeholder="Página web" type="text" name="paginaWeb"
      />
    </div>
    <div class="message-field">
      <textarea name="textarea" id="textarea" [(ngModel)]="nuevoComentario.contenido" rows="5" cols="30" placeholder="Escribe aquí tu comentario..."></textarea>
    </div>
    <input type="submit" value="Enviar" name="submit" #posicionRespuesta class="btn btn-submit" />
  </form>
</div>
<!-- /.comment-form-wrapper -->