<div class="parallax page-title inverse-wrapper parallax2">
    <div class="container inner">
        <h1 class="text-center">Información sobre la solicitud de reseñas </h1>
    </div>
    <!-- /.container -->

</div>

<div class="container inner tp0">

    <div class="divide60"></div>
    <div class="blog row">
        <div class="col-sm-12">
            <div class="blog-content classic-view">
                <div class="blog-posts">
                    <div class="post">
                        <div class="post-content">



                            <div class="row">
                                <h1 class="post-title text-center">¿Quieres que reseñemos tu obra? Ten en cuenta esto </h1>


                                <p> En Momoko.es estamos encantados de darle difusión a tu obra y elaborar una reseña como las
                                    que has visto en nuestro página. Somos verdaderos amantes de la literatura, que buscan
                                    revivir esa experiencia mágica en el interior de cada una historia. No importa si eres
                                    un autor nobel, una pequeña editorial o una gran empresa. Aceptamos todo tipo de obras
                                    para reseñar. ¡No te cortes y envíanos tu propuesta a
                                    <a href="mailto:info@momoko.es">
                                        info@momoko.es </a> ! Solamente, ten en cuenta los siguientes aspectos: </p>
                            </div>

                            <div class="separatop"> </div>





                            <div class="col-sm-4 text-center">
                                <img src="https://momoko.es/images/que resenamos.png" style="margin-bottom: 15px" />
                                <br>
                                <b> ¿Qué reseñamos? </b>
                                <br> Reseñamos todo tipo de obras de literatura, ya sean cómics, novelas gráficas, libros académicos
                                o novelas al uso. En formato físico o digital. </div>
                            <div class="col-sm-4 text-center">
                                <img src="https://momoko.es/images/como lo hacemos.png" style="margin-bottom: 15px" />
                                <br>
                                <b>¿Cómo lo hacemos?</b>
                                <br> Leemos siempre hasta el final (política de Momoko.es) todas las obras antes de realizar
                                una reseña. Nuestras críticas cuentan siempre con un mínimo de 1000 palabras de extensión.
                                Además, si la obra tiene elementos gráficos tales como fotos, tablas o ilustraciones, incluirá
                                una galería de fotografías del interior. </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="https://momoko.es/images/cuanto tardamos.png" style="margin-bottom: 15px" />
                            <br>
                            <b> ¿Cuándo se publicará? </b>
                            <br> Siempre le damos prioridad a las obras que recibimos en físico. Tras la aceptación de la reseña
                            y la recepción de la obra, en menos de 3 semanas intentamos tener tu reseña. No te impacientes
                            si tardamos un poquito más. En caso de autores noveles, este plazo puede extenderse un par de
                            meses desde que encontramos un analista del equipo disponible. </div>




                        <hr />


                    </div>

                    <!-- /.footer-meta -->


                    <!-- /.comment-form-wrapper -->

                </div>
                <!-- /.post-content -->

            </div>
            <!-- /.post -->

        </div>
        <!-- /.blog-posts -->

    </div>

</div>
<!-- /.blog-content -->
<!-- /.classic-view -->
<div class="dark-wrapper">
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-12">
                <h2 class="text-center"> Normas para que aceptemos la creación de una reseña </h2>



                <ul>

                    <li> La obra tiene que estar publicada en alguna parte, ya sea con una editorial al uso, un sello independiente
                        o incluso autopublicación en Amazon. </li>
                    <li>Si no has colaborado antes con nosotros, primero tienes que enviarnos una propuesta de reseña. Te diremos
                        si tu obra encaja con el estilo de alguno de nuestros analistas. ¡No te desanimes si tardamos un
                        poco! Recibimos muchas propuestas cada día. </li>
                    <li>Puedes enviarnos tu obra en formato físico (previa solicitud de dirección por correo), .pdf o .epub.
                        Epub es mejor porque muchos de nuestros analistas usan Kindle. De cualquier forma, siempre le damos
                        prioridad a los análisis de obras físicas antes que a los digitales.
                    </li>
                    <li>Momoko se reserva el derecho a NO reseñar aquellos ejemplares ofensivos, discriminatorios o que hagan
                        una apología descarada contra los derechos humanos. </li>




                </ul>
            </div>
        </div>
    </div>
</div>

<div class="light-wrapper">
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-12">
                <h2 class="text-center"> Consideraciones a tener en cuenta. </h2>



                <div id="container">
                    <div class="row marginTop20">
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-01.jpg">
                                <div class="normas"> Hacemos reseñas de todas las obras enviadas en nuestra página web orientándolo también al
                                    posicionamiento para que aparezcas cuando te buscan. Sin embargo, la aceptación de una
                                    reseña no implica obligatoriamente que haremos contenido extra.</div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-02.jpg">
                                <div class="normas"> Algunas de las obras que leemos incluyen pestañas extras como “guía de personajes”, “mapas”,
                                    “glosario de términos” o incluso listas de Spotify. Si la obra nos encanta, aumentan
                                    las posibilidades de que añadamos contenido extra pero no es un requisito obligatorio.</div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-03.jpg">
                                <div class="normas"> Si estás interesado en un plan de promoción completo, con booktube, guía de personajes y
                                    más información, ponte en contacto con <a href="mailto:info@momoko.es">info@momoko.es</a> </div>

                            </div>
                        </div>

                    </div>
                    <div class="row marginTop20">
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-04.jpg">
                                <div class="normas"> También tenemos un canal de <a href="https://www.youtube.com/momoko_blog" target="_blank">Youtube </a>gobernado por Ren. Esta solo lee una parte de las obras
                                    que recibimos. La aceptación de hacer una reseña no implica que le dediquemos un vídeo
                                    en exclusividad.</div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-05.jpg">
                                <div class="normas"> Tenemos diferentes analistas, pero siempre le entregamos tu obra al que mejor se adecúa con
                                    tu estilo. Creemos que no tiene sentido que alguien que odia la novela romántica lea
                                    la última historia de amor que se ha escrito, por eso hacemos un match entre la obra
                                    y el lector. </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-06.jpg">
                                <div class="normas"> Nunca publicamos una mala nota de una obra cedida por un autor sin antes consultarlo con
                                    la editorial o la persona que nos facilitó el libro. </div>

                            </div>
                        </div>

                    </div>
                    <div class="row marginTop20">
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-07.jpg">
                                <div class="normas"> Las faltas de ortografía, falta de revisiones, malos procesos de edición y otros errores deslucen
                                    la obra final y como tal, se ven reflejadas en la nota. </div>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item ">
                                <img src="https://momoko.es/images/fijas/resenas-de-libros-08.jpg">
                                <div class="normas"> Publicaremos una fotografía y aviso en nuestras redes sociales (Facebook y Twitter) tras
                                    la recepción del original. Después, avisaremos en redes sociales cuando tengamos el análisis
                                    listo. Dependiendo de la nota de la obra, repetiremos el message promocional 2 o 3 veces
                                    más ese mes. </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="dark-wrapper">
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-12">

                <h2 class="text-center"> Si eres una editorial y te encanta Momoko... </h2>


                <p>
                    ¡Nos alegra mucho! Colaboramos con muchas editoriales increíbles como Santillana, Alianza, Fandogamia, Ediciones La Cupula,
                    Seix Barral, Eride Ediciones y muchas otras. Si te gusta Momoko y quieres darle un empujón a la visibilidad
                    de las obras con las que trabajas, envíanos un message. Contamos con más de 100.000 visitas únicas anuales
                    y creciendo cada día. </p>
            </div>
        </div>
    </div>
</div>