::selection {
    background: #e9dbdd; /* Safari */
    color: #2f2f2f;
}
::-moz-selection {
    background: #e9dbdd; /* Firefox */
    color: #2f2f2f;
}
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after,
.cbp-popup-singlePageInline:after {
    border-top: 3px solid #e3b015;
}
.lg-outer .lg-item:after {
    border-top: 3px solid #e3b015;
}
a {
    color: #e3b015;
}
a.line:hover {
    border-bottom: 1px solid #e3b015;
}
a:hover,
a:focus {
    color: #e3b015;
}
.nocolor:hover,
.email-link:hover,
footer a:hover {
    color: #e3b015 !important
}
.post-title a:hover {
    color: #404040;
}
ul.circled li:before {
    color: #e3b015;
}
blockquote {
    border-left: 3px solid #e3b015;
}
.inverse-wrapper a:not(.btn):hover {
    color: #e3b015 !important
}
footer a:hover {
    color: #e3b015;
}
footer .sub-footer a:hover {
    color: #e3b015 !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.current > a {
    background: none;
    color: #e3b015 !important;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active {
    color: #e3b015 !important
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #e3b015 !important;
}
.sharing a:hover,
.meta a:hover {
    color: #e3b015;
}
.share-button .dropdown-menu > li > a:hover,
.share-button .dropdown-menu > li > a:focus {
    color: #e3b015;
}
span.category em a {
    background-color: #e3b015 !important
}
.pagination ul > li.active > a {
    background: #e3b015 !important;
}
.sidebox a:hover {
    color: #e3b015
}
.widget .post-list li a:hover {
    color: #e3b015
}
.tooltip-inner {
    background-color: #e3b015;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #e3b015
}
.tooltip.right .tooltip-arrow {
    border-right-color: #e3b015
}
.tooltip.left .tooltip-arrow {
    border-left-color: #e3b015
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #e3b015
}
.progress.plain .bar {
    background: #e3b015 !important
}
.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active:before {
    border: 2px solid #e3b015;
}
#comments .info h5 a:hover {
    color: #e3b015
}
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item.active:hover {
    border-color: #e3b015
}
.social li a:hover {
    color: #e3b015 !important;
}
.vanilla-form input[type="radio"]:focus + span,
.vanilla-form input[type="checkbox"]:focus + span,
.vanilla-form input[type="radio"]:active + span,
.vanilla-form input[type="checkbox"]:active + span {
    border-color: #e3b015
}
.vanilla-form input[type="radio"] + span::after {
    background-color: #e3b015;
    border-color: #e3b015;
}
.vanilla-form input[type="radio"]:checked + span,
.vanilla-form input[type="checkbox"]:checked + span {
    border: 1px solid #e3b015
}
.vanilla-form input[type="checkbox"] + span::after {
    border: 0 solid #e3b015;
}
@media (min-width: 992px) {
    .navbar .navbar-nav > li > .dropdown-menu {
        border-top: 2px solid #e3b015;
    }
    .navbar .nav > li:not(.current) > a:hover {
        color: #e3b015 !important;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-collapse {
        border-top: 2px solid #e3b015;
    }
}


/*  MENÚ */ 

.iconosmenu {

    padding-right: 15px;
}



/* COLABORA */ 

.btnColaborar {

    background-color: #DBAE27;
    padding: 5px;
    display: inline-block;
    color: #FFF;
    color:white !important;
}


.btnColaborar:hover {

    background-color: #FFF;
    color: #DBAE27;
}


/* WIDGET DE LIBROS DERECHA */ 

.autorygenero {

    font-weight:  bold;
    color: #2B2B2B !important;

}


.titulos {
    color: #2a2c2b;
    font-size: 22px;
    margin: 10px 0 15px;
    text-align: center;
    margin-bottom: 35px;

}


.titulos:after {
    
    content: '';
    width: 40px;
    border-bottom: 4px solid #EFC66E;
    display: block;
    padding: 3px;
    margin: 0 auto;

}

.name {

    font-size: 50px;
    text-transform: uppercase;
    color: #f07c29;
    text-align: right;
    font-weight: 700;
    line-height: 1.1;
    font-family: Rufina;

}

.generoname {


    text-transform: uppercase;
    color: #999999;
    text-align: right;
    margin-top: 5px;

    }

.derecha {

    text-align: right;
}

.centrado {
    text-align: center;
}

.separatop {

    padding-top: 50px;
}

.separatopdoble {

    padding-top: 100px;
}

.nopaddingbottom {

    padding-bottom: 0px !important;
}

.imagenes-instagram {

    max-width: 230px;
    max-height: 230px;
}


.lineafina {

    padding-top: 25px;
    padding-bottom: 25px;
}

.lineafina:active {

    background-color: white;

}

.imagespost {

    width: 100%;
}


.ficha-categorias {

    line-height: 30px;

}

