<li *ngFor="let libro of libros">
    <figure class="overlay small">
      <a routerLink="/libro/{{libro.urlLibro}}">
        <span class="over">
          <span></span>
        </span>
        <img src="{{libro.portada}}" alt="Portada libro - {{libro.titulo}}"> </a>
    </figure>
    <div class="post-content">
      <h4 class="post-title">
        <a routerLink="/libro/{{libro.urlLibro}}">{{libro.titulo}}</a>
      </h4>
      <div class="meta">
        <span class="date">{{libro.nombreAutor}} </span>
        <span class="autorygenero" *ngIf="libro.nota">
          <a routerLink="/libro/{{libro.urlLibro}}"> NOTA: {{libro.nota}}  </a>
        </span>
      </div>
    </div>
  </li>
