.sagaimage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.separatop25 {
  margin-top: 25px;
}

i.fa.fa-eye {
  margin-right: 10px;
}

.sagasizquierda {
  background-color: white;
}

.sagasizquierda img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.section-header:after {
  content: ' ';
  width: 30px;
  height: 3px;
  background-color: #e3b015;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-header--center:after {
  right: 0;
  margin: 0 auto;
}

.section-header {
  position: relative;
  padding-bottom: 20px;
  margin: 30px 0;
}

.section-header--center {
  text-align: center;
}

.section-header .section-title {
  margin: 0;
}

.widget-title,
.section-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}