<p-growl [(value)]="msgs"></p-growl>
<div *ngIf="genero" class="form-container">
  <div class="row">
    <div class="col-sm-8">
      <div class="vanilla vanilla-form" novalidate="novalidate">
        <div class="row">
          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Nombre del género: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="genero.name" (ngModelChange)="cambioNombre($event)" placeholder="Escribe aquí el name del género" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="col-sm-12 rp10">
            <div class="form-field">
              <h4> Url del género: </h4>
            </div>
          </div>
          <div class="col-sm-12 lp10">
            <div class="form-field">
              <label>
                <input type="text" [(ngModel)]="genero.urlGenero" placeholder="Escribe aquí la URL del género" />
              </label>
            </div>
            <!--/.form-field -->
          </div>

          <div class="divide10"></div>

          <div class="col-sm-12 rp10">
              <div class="form-field">
                <h4> Categoría: </h4>
              </div>
            </div>
            <div class="col-sm-12 lp10">
              <div class="form-field">
                <label>
                    <select [(ngModel)]="idCategoriaSeleccionada"> // value is a string or number
                        <option *ngFor="let categoria of categorias" [value]="categoria.categoriaId">{{categoria.nombreCategoria}}</option>
                    </select>
                </label>
              </div>
              <!--/.form-field -->
            </div>

            <div class="divide10"></div>

          <div class="col-sm-12 lp10">
            <div class="form-field">
              <h2 class="section-title widget-title  margen_superior">Imagen de cabecera del género</h2>
              <img src="{{genero.imagenCabeceraGenero}}" alt="Cabecera genero - {{genero.name}}" />
              <p-fileUpload name="cabeceraFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeCabecera($event)" chooseLabel="Subir imagen"
                auto="auto" maxFileSize="1000000">

                <ng-template pTemplate="content">
                  <div>Arrastra aquí la imagen que quieras subir.</div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>

          <div class="divide10"></div>

          <div class="col-sm-12 lp10">
            <div class="form-field">
              <h2 class="section-title widget-title  margen_superior">Icono de menú del género</h2>
              <img class="imagen-icono" src="{{genero.iconoGenero}}" alt="Icono genero - {{genero.name}}" />
              <p-fileUpload name="iconoFile[]" customUpload="true" accept="image/*" (uploadHandler)="fileChangeIcono($event)" chooseLabel="Subir imagen"
                auto="auto" maxFileSize="1000000">

                <ng-template pTemplate="content">
                  <div>Arrastra aquí la imagen que quieras subir.</div>
                </ng-template>
              </p-fileUpload>
            </div>
          </div>

          <div class="col-sm-12 rp10 botonInferior">
            <div [hidden]="!esGeneroNuevo">
              <input type="submit" class="btn btn-forest" value="Crear genero" (click)="guardarGenero()" data-error="Fix errors" data-processing="Sending..."
                data-success="Thank you!">
            </div>
            <div [hidden]="esGeneroNuevo">
              <input type="submit" class="btn btn-forest" value="Actualizar genero" (click)="guardarGenero()" data-error="Fix errors" data-processing="Sending..."
                data-success="Thank you!">
            </div>
          </div>
          <footer class="notification-box"></footer>
        </div>
      </div>
    </div>
  </div>



</div>
