<div class="light-wrapper">

  <div class="parallax page-title inverse-wrapper parallax2" [ngStyle]="{background: 'url(' + author.authorHeaderImage + ')'}">
    <div class="container inner">
      <h1 class="text-center">Autor: {{author.name}} </h1>
    </div>
  </div>
  <!-- /.container -->

</div>
<div class="container inner tp0">
  <div class="row marginTop65">


  </div>
  <div class="blog row">
    <div class="col-sm-4 blog-content list-view center-block">

      <h3>Autor</h3>
      <div class="contenedorAvatar">

        <img alt="Avatar del Autor {{author.name}}" src="{{author.avatar}}" class="avatar" />

      </div>
      <div class="authorName">
          {{author.name}}
      </div>
      <div class="authorOrigin">
          <span class="country" *ngIf="author.birthCountry">{{author.birthCountry}} </span> 
          <span class="birthdate" *ngIf="author.birhtYear">{{author.birhtYear}} </span>
          <span class="deathdate" *ngIf="author.deathYear">- {{author.deathYear}}</span> 
      </div>

      <div class="authorDescription" [class.collapsed]="isCollapsed">
          <div [innerHTML]="author.description"> </div>
      </div>
      <a class="btn" (click)="collapse()">
          <span *ngIf="isCollapsed">Leer más</span>
          <span *ngIf="!isCollapsed">Leer menos</span>
      </a>

      <div class="blog-content marginTop20">
        <div class="blog-post">
          <!-- /.page-navi -->
          <div class="clearfix"></div>
        </div>
        <!-- /.blog-content -->
      </div>

    </div>
    <div class="col-sm-7 col-sm-offset-1 blog-content list-view">
      <div class="row">
        <div class="col-sm-12 center-block">
          <h3>Libros de este autor</h3>
        </div>
      </div>

      <div class="blog-content marginTop20">
        <div class="blog-post">
          <!-- /.page-navi -->
          <div class="row">
              <div class="libroGenero" *ngFor="let book of authorBooks, let i = index; let first = first">
                  <div class="clearfix" *ngIf="!isMobile && i % 3 == 0 && !first"></div>
                  <div class="clearfix" *ngIf="isMobile && i % 2 == 0 && !first"></div>
                  <div class="col-xs-6 col-sm-4">

                      <div class="contenedorImagenes">
                          <a routerLink="/libro/{{book.urlLibro}}">
                              <span class="helper over"></span>
                              <img src="{{book.portada}}" alt="Portada libro - {{book.titulo}} " />
                          </a>
                      </div>

                       <div class="contenedorDatos">
                          <h4 class="titulo_libro">
                              <a routerLink="/libro/{{book.urlLibro}}">{{book.titulo}}</a>
                          </h4>
                          <span class="autor_libro"> {{book.nombreAutor}} </span>
                      </div>

                  </div>

              </div>

          </div>
        </div>
        <!-- /.blog-content -->
      </div>

    </div>
    <!-- /.blog -->

  </div>
</div>