.textoCabecera {
  text-align: center;
  margin: 0;
  font-size: 36px;
  line-height: 50px;
  font-weight: normal;
  font-family: 'Vidaloka', serif;
  text-transform: none;
  color: #fff;
}

hr {
  padding-top: 15px;
  margin-bottom: 15px;
}
