.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #a2a2a29e;
  z-index: 10000;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
  @media(max-width: 800px){
    margin-left: -81.5px;
    margin-top: -140.5px;
  }
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  width: 130px;
  margin-top: 15px;
}

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;

  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }

  50% {
    width: 60%;
    margin: 0 18%;
  }

  100% {
    width: 90%;
    margin: 0 5%;
  }
}

.loadingTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
  margin-top: 130px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.centered {
  position: fixed;
  max-width: 200px;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.buscadorMovil {
  display: none;
}

@media (max-width: 1280px) {
  ::ng-deep .inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  ::ng-deep .custombackground {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }

  .buscadorMovil {
    display: table;
  }



}