.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
}

.centered {
  position: fixed;
  max-width: 200px;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  ::ng-deep .inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
