<hr>
<h2 class="section-title">Sobre el autor</h2>
<div class="about-author text-left">
  <div class="author-image">
    <a href="#">
      <img alt="" class="avatar" src="{{autor.avatar}}"> </a>
  </div>
  <h3> {{autor.nombre}} </h3>

  <p>{{autor.cargo}}</p>
  <!-- <ul class="social">
    <li>
      <a href="#">
        <i class="ion-social-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-instagram"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-vimeo"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-linkedin"></i>
      </a>
    </li>
  </ul> -->
  <div class="clearfix"></div>
</div>
<!-- .about-author -->

<hr>
